<!--#include virtual="/m/header.php?title=お問合せ" -->
<h1 align="center">お問合せ</h1>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<h2>お問合せについて</h2>
<p>親切丁寧をモットーにスタッフが応対させていただきます。どうぞご安心してお問合せください。</p>
<p>女性の方のご相談は女性スタッフをご希望いただくことも可能です。お気軽にお申し付けください。</p>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<h2>お電話でのお問合せ</h2>
<p>電話番号：<b><a href="tel:0427461951">042-746-1951</a></b></p>
<p>受付時間：日曜、祭日を除く毎日<b>9:00〜19:00</b>まで</p>
<!--#include virtual="/m/fot.html" -->
	