<hr size="1" noshade="noshade" color="#e9dbd6" />
<ul>
<li><a href="/m/info.html">ご案内</a></li>
<li><a href="/m/staff.html">スタッフ紹介</a></li>
<li><a href="/m/price.html">処方料金</a></li>
<li><a href="/m/contact.html">お問合せ</a></li>
</ul>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<font size="2"><div>このページは携帯電話などﾓﾊﾞｲﾙ端末用に作成してあります。ﾊﾟｿｺﾝでご覧の方は<a href="/">漢方のスギヤマ薬局</a>からお入りください｡</div></font>
<font size="2">近くの駅：相模大野・相武台前・海老名・厚木・本厚木・愛甲石田・伊勢原</font>
<font size="2">漢方薬・生薬・健康食品・ペット用漢方薬・調剤 取扱薬局</font>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<center><font size='2'><b><a href='/m/'>漢方相談 杉山薬局</a></b></font>
</body>
</html>
