<!--#include virtual="/m/header.php?title=" -->
<h1 align="center">漢方相談薬局 杉山薬局</h1>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<p><b>毎日の笑顔のために漢方を</b></p>
<hr size="1" noshade="noshade" color="#e9dbd6" />
東洋医学では貴方自身が本来持っている治癒力、抵抗力を呼び起こします。<br />
どんな悩みでも「治らない」とあきらめず、まずは一度ご相談下さい。<br />
ゆっくりとお話を伺った上で貴方だけのお薬をご用意いたします。<br />
漢方で体の中から美しく、健康になりましょう。<br /><br />
ペット（犬や猫など）の体調不良もご相談ください!ペット用漢方薬（煎じ薬）もご案内できます｡
<!--#include virtual="/m/fot.html" -->
