<!--#include virtual="/m/header.php?title=ごあんない" -->
<h1 align="center">ごあんない</h1>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<h2>本店</h2>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<font color="#ED4E07">営業時間</font><br>午前9:00〜午後7:00<br><br>
<font color="#ED4E07">定休日</font><br>日曜・祭日<br><br>
<font color="#ED4E07">住所</font><br>〒228-0001<br>神奈川県座間市相模が丘5-10-37<br><br>
<font color="#ED4E07">電話番号</font><br><a href="tel:0427461951">042-746-1951</a><br><br>
<font color="#ED4E07">アクセス</font><br>小田急線 小田急相模原駅<br><br>
<font color="#ED4E07">駐車場</font><br>1台有り<br><br>
<br>
<h2>駅前店</h2>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<font color="#ED4E07">営業時間</font><br>午前8:30〜午後6:30 ※木曜日は5：00まで<br><br>
<font color="#ED4E07">定休日</font><br>日曜・祭日<br><br>
<font color="#ED4E07">住所</font><br>〒252-0001<br>座間市相模が丘5-5-7 ブリリア小田急相模原103号<br><br>
<font color="#ED4E07">電話番号</font><br><a href="tel:0427055423">042-705-5423</a><br><br>
<font color="#ED4E07">アクセス</font><br>小田急線 小田急相模原駅<br><br>
<font color="#ED4E07">駐車場</font><br>無し<br><br>
<!--#include virtual="/m/fot.html" -->
