<!--#include virtual="/m/header.php?title=処方料金" -->
<h1 align="center">処方料金</h1>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<p>処方料金はお勧めするお薬の内容、剤形によって変わります。でも漢方薬で大切なのは決められた回数をしっかり飲む、ということ。</p>
<p>どんなにいいお薬でもお飲みいただけなければ効果を得ることはできません。ご予算や苦手なお薬の形などありましたらご遠慮なくおっしゃってください。お客様のニーズに最も適したお薬をご用意いたします。</p>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<h2>処方1日分の目安</h2>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<h3>煎じ薬</h3>
<p>500円〜600円</p>
</div>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<h3>粉薬</h3>
<p>350円〜400円</p>
</div>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<h3>錠剤,丸薬 </h3>
<p>150円〜200円</p>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<p id="mansei">※慢性症状の場合、初回は1週間〜半月分程度を処方させていただいております。急性疾患の場合は1日分からでもご用意いたします。</p>
<!--#include virtual="/m/fot.html" -->
