<!--#include virtual="/m/header.php?title=スタッフ紹介" -->
<h1 align="center">スタッフ紹介</h1>
<hr size="1" noshade="noshade" color="#e9dbd6" />
<h2>(店長・薬剤師) 杉山英二</h2>
<h3>相談全般を担当</h3>
<p>相談全般を担当</p>
<p>当店のボスであり、私(卓也)の師匠でもあります。<br />皆様からの愛称は「大先生(おおせんせい)」。</p>
<img src="images/staff_illust01.gif" alt="おおせんせい" class="illust" />
<p>30年に渡る漢方相談人生の中でお受けした相談は数知れず。様々な漢方メーカーでの講師なども歴任してきましたのでどんなお悩みにも深い知識で対応できます。驚くくらい人がいいので「話すと癒される」という社長のくせにマスコット的な要素も持ちます。</p>
<p>趣味はゴルフ、嫌いなものはねずみ。スマートフォンに物凄く興味があるのですが私に反対、妨害され続けています。お気軽に「大先生」とお呼びください。</p>
<p>(代筆：杉山卓也)</p>

<hr size="1" noshade="noshade" color="#e9dbd6" />
<h2>(薬剤師) 杉山卓也</h2>
<h3>健康、不妊相談、ネット相談、ペット用漢方担当</h3>
<p>スギヤマ薬局二代目、通称は「タクヤ先生」。</p>
<p>記憶のある限り生まれてから一度も西洋薬にお世話になったことがないのがささやかな自慢です。漢方と自然薬だけで人は健康に生きていける、を人生をかけて立証中です。めざせ健康寿命120歳。</p>
<img src="images/staff_illust02.gif" alt="タクヤ先生" class="illust" />
<p>趣味はボクシング、フットサル、料理、バンド活動。趣味こそ我が人生！ちなみに最大の趣味は「漢方相談」かも。</p>
<p>人様の健康のお役に立てるこの仕事につけたことを心より感謝しながら一期一会を大切に、日々精進させていただきます。「世界で一番敷居の低い漢方薬局」を目指して皆様からのご相談にお応えします！</p>
<p>子供の頃の将来の夢は「1日1冊本を出す推理作家」、現在の夢は「世界最強の歌って料理もできる薬剤師」。</p>

<hr size="1" noshade="noshade" color="#e9dbd6" />
<h2>(薬剤師) 杉山博子</h2>
<p>美容相談、女性疾患の相談を主に担当</p>
<p>ミドルグレーの男性層にファンが多く「ひろちゃん」と呼ばれています。勘の良い方はお気づきになってしまったかもしれませんが母です。</p>
<p>誰よりも威勢はいいのですが恥ずかしがりで今回も写真掲載はNGだそうです。</p>
<p>「あんなに親身になってくれる人はいない」と中高年の男性のアイドルと化しておりますが、母親感覚で親身ではっきりとした言葉で相談に乗るせいか若い女性の相談のご指名も多く、固定ファンが多いようです。</p>
<p>基本的に駅前店の健康相談はお任せしておりますが、これほど頼れるスタッフはいないと思っております。(20年ほど前に本店に押し入った強盗を素手で撃退したのは未だに町内の語り草です)</p>
<p>(代筆：杉山卓也)</p>
<!--#include virtual="/m/fot.html" -->
