.catehea{
  background: url(/soudan/images/takuya.jpg) no-repeat 98% 0;
  background-size: 174px auto;
	display: table;
	width: 100%;
	height: 180px;
}
.catehea a{
  color: #361819;
  text-decoration: none;
}
.catehea .box{
	display: table-cell;
	vertical-align: middle;
	padding: 10px 190px 0 0;
}
.catehea .comment{
	font-size: 20px;
	margin-bottom: 15px;
  line-height: 1.7;
}
.catehea .txt1{
  font-size: 14px;
}
.catehea .txt1 span{
  font-size: 12px;
	margin-left: .5em;
	display: inline-block;
}
.catehea .txt2{
  position: relative;
	padding-left: 1.2em;
}
.catehea .txt2::after{
  content: '＊';
	position: absolute;
	top: 0;
	left: 0;
}
.catehea .time{
  margin-left: 1em;
}
.catehea .tel{
	background: url(/common/images/ico_phone-1.svg) no-repeat 0 0;
	background-size: auto 100%;
	padding-left: 35px;
	margin: 18px 0 15px;
	font-size: 20px;
	font-weight: bold;
}

.cms_description{
  margin: 40px 0;
  font-size: 14px;
}
.cms_description p+p{
  margin-top: .5em;
}

.post-list{margin-bottom: 40px;}
.post-list h2{
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  padding: 15px 0 15px 80px;
  font-size: 1.8em;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.post-list h2 span{
  display: inline-block;
}
.post-list li{
	border-bottom: 1px solid #a4de81;
	margin-top: 0.8em;
	padding-bottom: 0.8em;
}
.post-list a{
	text-decoration: none;
}
.post-list a:hover{
	opacity: 0.6;
}
.post-list li:first-child{
  border-top: 1px solid #a4de81;
  padding-top: 0.8em;
	margin-top: 0;
}
.post-list dl{
	display: table;
}
.post-list dt,
.post-list dd{
	display: table-cell;
}
.post-list dt{
	font-size: 11px;
	padding-right: 1em;
	white-space: nowrap;
}

.post{margin-bottom: 30px;}
.post .date{font-size: 10px; margin-bottom: 25px;}
.post .entry {font-size: 13px;}
.post .entry p{ margin-bottom: 1em; line-height: 1.8;}
.post .entry{border: 3px solid #f2efef; padding: 25px 25px 10px; border-radius: 10px; background: #faf8f8;}
.post .entry h2{font-weight: bold; margin: 15px 0;}
.post .entry img{max-width: 100%; height: auto; margin-bottom: 1em;}

.post_hea{margin: 0 0 10px 10px;}
.post_hea .ttl{font-size: 22px; letter-spacing: 0.1em; padding-top: 20px;}
.post_hea p{margin-top: 0.5em;}
.post_hea .catelink{margin-left: 1em; font-size: 10px;}
.single .post_hea{margin-left: 0; padding-left: 105px; min-height: 88px;}

.cate #cate_ttl{background: #f2efef; padding: 10px 15px; margin-bottom: 20px; border-radius: 5px;}
.cate .post{margin-bottom: 30px;}

#comments{font-size: 10px; margin-top: 20px; border: 3px solid #f2efef; padding: 15px 25px; border-radius: 10px; background: #faf8f8;}
#comments .comment{border-bottom: 1px solid #f2efef; margin-bottom: 10px; padding-bottom: 10px;}
#comments .comment:last-child{border-bottom: 0; margin-bottom: 0; padding-bottom: 0;}
#comments .comment-footer a{margin: 0 5px;}

#cms_read{
  margin-bottom: 40px;
  line-height: 1.8;
  font-size: 14px;
}

#category_list{margin-bottom: 40px;}
#category_list h2{font-size: 1.4em; letter-spacing: 1px; margin-bottom: 10px;}

#sns_btn{margin-bottom: 30px;}
#sns_btn ul{display: table;}
#sns_btn li{display: table-cell; padding-right: 15px;}
#sns_btn li a{display: block; width: 50px; height: 50px; text-indent: -9999px;}
#sns_btn .fb{background: #4c669b url(/common/images/ico-social-fb.png) no-repeat center center; background-size: 25px auto;}
#sns_btn .tw{background: #00acee url(/common/images/ico-social-tw.png) no-repeat center center; background-size: 25px auto;}

#cms_btn1{
  clear: both;
}
#cms_btn1 li{
}
#cms_btn1 li:first-child{
  text-align: left;
}
#cms_btn1 li+li{
  text-align: right;
  margin-top: 15px;
}

#cms_btn1 a{
	text-align: center;;
	display: block;
	position: relative;
	border: 1px solid #361819;
	border-radius: 5px;
	color: #361819;
  font-size: 11px;
	text-decoration: none;
}
#cms_btn1_next a{
padding: 11px 25px 11px 11px;
}
#cms_btn1_back a{
padding: 11px 11px 11px 25px;
}
#cms_btn1_next a:after {
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 7px;
	height: 7px;
	margin-top: -4px;
	border-top: solid 2px #361819;
	border-right: solid 2px #361819;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
}

#cms_btn1_back a:after {
	display: block;
	position: absolute;
	top: 50%;
	left: 10px;
	width: 7px;
	height: 7px;
	margin-top: -4px;
	border-bottom: solid 2px #361819;
	border-left: solid 2px #361819;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
}


#takuya_b.top #cms_hea,
#takuya_b.cate #cms_hea{background: url(/takuya_b/images/illust1.gif) no-repeat 0 0;}
#takuya_b.single .post_hea{background: url(/takuya_b/images/illust2.gif) no-repeat 0 0;}
#takuya_b.top #cms_hea,
#takuya_b.cate #cms_hea{padding-left: 188px; margin-bottom: 10px; min-height: 190px;}
#takuya_b.top #cms_hea .ttl,
#takuya_b.cate #cms_hea .ttl{font-size: 24px; letter-spacing: 0.1em; padding: 20px 0;}

#health.cate #cms_hea,
#health.single .post_hea{background-position: 0 0; background-repeat: no-repeat;}

div.zairyou-name{
	padding: 0px 0px 0px 5px;
}
div.zairyou-ryou{
	margin: -25px 0px 5px 0px;
	padding: 5px 5px 5px 0px;
	text-align: right;
	width: 100%;
	border-bottom: 1px dotted;
}
ol.yakuzen-steps{
	margin: 0px 0px 0px 30px;
}
ol.yakuzen-steps li{
	margin: 0px 0px 0px 0px;
}
div.entry-yakuzen
{
	padding: 20px 0px 0px 0px;
}
div.yakuzen-fare
{
	text-align: center;
	font-weight: bold;
	padding: 20px 0px 0px 0px;
}
div#goods-excerpt{
	padding-left: 100px;
	margin-top: -81px;
	min-height: 100px;
}

@media screen and (min-width: 911px)  {

	#category_list table{width: 100%; border-top: 1px solid #a4de81;}
	#category_list td{}
	#category_list a{display: block; padding: 10px 25px 10px 15px; vertical-align:top; background: url(/common/images/ico_arrow04.gif) no-repeat 0 50%; border-bottom: 1px solid #a4de81; text-decoration: none;}
  #category_list a:hover{
    opacity: 0.6;
  }


	#cms_btn1{margin-bottom: 30px;}
	#cms_btn1 a:hover{background-color: #faf3f3;}
/*
	#cms_btn1{float: right;}
	#cms_btn1 a{display: block; width: 70px; height: 25px; overflow: hidden; text-indent: -9999px;}
	#cms_btn1 a:hover{background-position: 0 -25px;}
	#cms_btn1 li{float: left !important; width: 70px !important;}
	#cms_btn1_back a{background: url(/common/images/cms_btn1_back.gif) no-repeat 0 0;}
	#cms_btn1_next a{background: url(/common/images/cms_btn1_next.gif) no-repeat 0 0;}
	#cms_btn1_next{padding-left: 15px;}
*/
}

@media screen and (min-width: 0px) and (max-width: 640px) {
	.catehea{
	  background-size: 86px auto;
		background-position: right bottom;
		height: auto;
		padding-right: 90px;
		box-sizing: border-box;
	}
	.catehea .box{
		padding-right: 0px;
	}
	.catehea .txt{

	}
	.catehea .comment{
		font-size: 18px;
	}
  .post-list h2{
    background-size: 50px auto;
    padding-left: 55px;
    font-size: 1.6em;
  }
  .post_hea .ttl{font-size: 18px; letter-spacing: 0.5px;}
  .single .post_hea{padding-left: 20% !important; background-size: 18% auto !important; background-position: 0 center !important;}

	#category_list table{width: 100%; border-top: 1px solid #a4de81;}
	#category_list td{padding-right: 0; display: block;}
	#category_list a{display: block; padding: 10px 25px 10px 15px; vertical-align:top; background: url(/common/images/ico_arrow04.gif) no-repeat 0 50%; border-bottom: 1px solid #a4de81; text-decoration: none;}


  #home .sec,
	#home #takuya,
	#home .fb-like-box{margin-bottom: 25px; padding-bottom: 25px; background: url(/common/images/bg_dot_h.gif) repeat-x 0 100%;}

	#cms_btn1{margin-bottom: 20px;}

}
