#main_visual #main_pic{height:390px;}
#mainContents{padding-top:0;}

#category_list{margin-bottom: 40px;}
#category_list h2{font-size: 1.6em; letter-spacing: 0.1em; margin-bottom: 20px;}

#cate_ttl{font-size: 18px; margin: 30px 0;}
#cate_list{width: 644px; overflow: hidden; margin-bottom: 40px; min-height: 250px;}
.cate_post{border: 1px solid #361819; float: left; width: 201px; margin-right: 10px; margin-bottom: 20px; display: none;}
.cate_post h1{background: #361819; padding: 10px;}
.cate_post h1 a{color: #ffffff; font-weight: bold; text-decoration: none;}
.cate_post .order{display: none;}
.goods-pict-ex{text-align: center; padding: 15px 0;}
.goods-desc-ex{margin: 0 10px 10px;}
.goods-desc-ex .order{padding-top: 10px; font-size: 0.9em;}

#single_ttl{font-size: 18px; margin: 30px 0;}
.goods-pict-body{margin-bottom:35px; text-align: center;}
.goods-desc-body{margin-bottom: 40px;}
.goods-desc-body .kounou{margin-bottom:20px;}
.goods-desc-body span{display: none;}

#single_cateitem{border-top: 1px solid #361819; border-bottom: 1px solid #361819; padding: 20px 0 5px; width: 650px; overflow: hidden; margin-bottom: 40px;}
#single_cateitem h2{margin-bottom:20px; font-weight: bold;}
#single_cateitem li{float: left; margin-bottom: 10px; padding-right: 10px; text-align: center; font-size: 10px;}

.single #single_cateitem .item{float: left; margin-bottom: 10px; padding-right: 10px; text-align: center; font-size: 10px;}
.single #single_cateitem .goods-pict-ex{padding: 0}
.single #single_cateitem .goods-desc-ex{display: none;}
.single #single_cateitem a{text-decoration: none; color: #361819;}



@media screen and (min-width: 641px)  {
	#category_list {background: url(../../goods/images/category_list_illust.gif) no-repeat 100% 100%; min-height: 94px; padding-right: 100px;}
	#category_list td{padding: 0 25px 10px 15px; vertical-align:top; background: url(../images/ico_arrow04.gif) no-repeat 0 5px;}
}

@media screen and (min-width: 0px) and (max-width: 640px) {
	#category_list table{width: 100%}
	#category_list td{padding-right: 0; display: block;}
	#category_list a{display: block; padding: 10px 25px 10px 15px; vertical-align:top; background: url(../images/ico_arrow04.gif) no-repeat 0 50%; border-bottom: 1px solid #a4de81; text-decoration: none;}
	.goods-pict-body img{width: 100%;}
}
