@charset "utf-8";
/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
img{vertical-align:top;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,select{vertical-align:middle;}
legend{color:#000;}
p,th,td, dt, dd, li{line-height: 1.8; line-break:strict;}
body {font-size: 13px; font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック Medium",YuGothic,YuGothicM, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, Helvetica; background: #ffffff; color: #361819;}
input,select,textarea{font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック Medium",YuGothic,YuGothicM, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, Helvetica;}

a:link {color:#147900; text-decoration: underline;}
a:visited {color:#147900; text-decoration: underline;}
a:hover {color:#147900; text-decoration: none;}
a:focus {color:#147900; text-decoration: none;}
a:active {color:#147900;}

#siteFooter a:link {color:#ffffff; text-decoration: none;}
#siteFooter a:visited {color:#ffffff; text-decoration: none;}
#siteFooter a:hover {color:#71d138; text-decoration: underline;}
#siteFooter a:focus {color:#71d138; text-decoration: underline;}
#siteFooter a:active {color:#71d138;}

#subContents a{color:#361819; text-decoration: none;}
#subContents a:hover,
#subContents a:focus {text-decoration: underline;}

.soudan .kochira.box1 a{color:#361819;}

/*HTML5*/
article,aside,dialog,figure,footer,header,hgroup,menu,nav,section {display: block;}

/* Class  */
.inb{display: inline-block;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{overflow:hidden;}

.fleft{float:left;}
.fright{float:right;}
.fclear{clear: both;}
.hr{clear: both; font-size: 0px; height:1%;}
.hr hr{display:none;}

.clearBd{border: none !important;}
.clearBdt{border-top: none !important;}
.clearBdl{border-left: none !important;}
.clearBdb{border-bottom: none !important;}
.clearBdr{border-right: none !important;}
.clearMt{margin-top: 0px !important;}
.clearMr{margin-right: 0px !important;}
.clearMl{margin-left: 0px !important;}
.clearMb{margin-bottom: 0px !important;}
.clearMg{margin: 0px !important;}
.clearPt{padding-top: 0px !important;}
.clearPr{padding-right: 0px !important;}
.clearPl{padding-left: 0px !important;}
.clearPb{padding-bottom: 0px !important;}
.clearPg{padding: 0px !important;}

.txtCenter{text-align:center !important;}
.txtLeft{text-align:left !important;}
.txtRight{text-align:right !important;}
.mgCenter{margin-left: auto !important; margin-right: auto !important;}

.vTop{vertical-align: top !important;}
.vBtm{vertical-align: bottom !important;}
.vMid{vertical-align: middle !important;}

.mt02{margin-top: 2px !important;}
.mt05{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt12{margin-top: 12px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.mt35{margin-top: 35px !important;}
.mt40{margin-top: 40px !important;}
.mt45{margin-top: 45px !important;}
.mt50{margin-top: 50px !important;}
.mt55{margin-top: 55px !important;}
.mt60{margin-top: 60px !important;}
.mt65{margin-top: 65px !important;}
.mt70{margin-top: 70px !important;}
.mt80{margin-top: 80px !important;}
.mr02{margin-right: 2px !important;}
.mr05{margin-right: 5px !important;}
.mr10{margin-right: 10px !important;}
.mr12{margin-right: 12px !important;}
.mr15{margin-right: 15px !important;}
.mr20{margin-right: 20px !important;}
.mr25{margin-right: 25px !important;}
.mr30{margin-right: 30px !important;}
.mr35{margin-right: 35px !important;}
.mr40{margin-right: 40px !important;}
.mr45{margin-right: 45px !important;}
.mr50{margin-right: 50px !important;}
.mr55{margin-right: 55px !important;}
.mr60{margin-right: 60px !important;}
.mr65{margin-right: 65px !important;}
.mr70{margin-right: 70px !important;}
.mr80{margin-right: 80px !important;}
.mb02{margin-bottom: 2px !important;}
.mb05{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb12{margin-bottom: 12px !important;}
.mb15{margin-bottom: 15px !important;}
.mb17{margin-bottom: 17px !important;}
.mb20{margin-bottom: 20px !important;}
.mb25{margin-bottom: 25px !important;}
.mb30{margin-bottom: 30px !important;}
.mb35{margin-bottom: 35px !important;}
.mb40{margin-bottom: 40px !important;}
.mb45{margin-bottom: 45px !important;}
.mb50{margin-bottom: 50px !important;}
.mb55{margin-bottom: 55px !important;}
.mb60{margin-bottom: 60px !important;}
.mb65{margin-bottom: 65px !important;}
.mb70{margin-bottom: 70px !important;}
.mb80{margin-bottom: 80px !important;}
.ml02{margin-left: 2px !important;}
.ml05{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml12{margin-left: 12px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml25{margin-left: 25px !important;}
.ml30{margin-left: 30px !important;}
.ml35{margin-left: 35px !important;}
.ml40{margin-left: 40px !important;}
.ml45{margin-left: 45px !important;}
.ml50{margin-left: 50px !important;}
.ml55{margin-left: 55px !important;}
.ml60{margin-left: 60px !important;}
.ml65{margin-left: 65px !important;}
.ml70{margin-left: 70px !important;}
.ml80{margin-left: 80px !important;}
.pt02{padding-top: 2px !important;}
.pt05{padding-top: 5px !important;}
.pt10{padding-top: 10px !important;}
.pt12{padding-top: 12px !important;}
.pt15{padding-top: 15px !important;}
.pt20{padding-top: 20px !important;}
.pt25{padding-top: 25px !important;}
.pt30{padding-top: 30px !important;}
.pt35{padding-top: 35px !important;}
.pt40{padding-top: 40px !important;}
.pt45{padding-top: 45px !important;}
.pt50{padding-top: 50px !important;}
.pt55{padding-top: 55px !important;}
.pt60{padding-top: 60px !important;}
.pt65{padding-top: 65px !important;}
.pt70{padding-top: 70px !important;}
.pt80{padding-top: 80px !important;}
.pr02{padding-right: 2px !important;}
.pr05{padding-right: 5px !important;}
.pr10{padding-right: 10px !important;}
.pr12{padding-right: 12px !important;}
.pr15{padding-right: 15px !important;}
.pr20{padding-right: 20px !important;}
.pr25{padding-right: 25px !important;}
.pr30{padding-right: 30px !important;}
.pr35{padding-right: 35px !important;}
.pr40{padding-right: 40px !important;}
.pt45{padding-right: 45px !important;}
.pr50{padding-right: 50px !important;}
.pr55{padding-right: 55px !important;}
.pr60{padding-right: 60px !important;}
.pr65{padding-right: 65px !important;}
.pr70{padding-right: 70px !important;}
.pr80{padding-right: 80px !important;}
.pb02{padding-bottom: 2px !important;}
.pb05{padding-bottom: 5px !important;}
.pb10{padding-bottom: 10px !important;}
.pb12{padding-bottom: 12px !important;}
.pb15{padding-bottom: 15px !important;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb30{padding-bottom: 30px !important;}
.pb35{padding-bottom: 35px !important;}
.pb40{padding-bottom: 40px !important;}
.pb45{padding-bottom: 45px !important;}
.pb50{padding-bottom: 50px !important;}
.pb55{padding-bottom: 55px !important;}
.pb60{padding-bottom: 60px !important;}
.pb65{padding-bottom: 65px !important;}
.pb70{padding-bottom: 70px !important;}
.pb80{padding-bottom: 80px !important;}
.pl02{padding-left: 2px !important;}
.pl05{padding-left: 5px !important;}
.pl10{padding-left: 10px !important;}
.pl12{padding-left: 12px !important;}
.pl15{padding-left: 15px !important;}
.pl20{padding-left: 20px !important;}
.pl25{padding-left: 25px !important;}
.pl30{padding-left: 30px !important;}
.pl35{padding-left: 35px !important;}
.pl40{padding-left: 40px !important;}
.pl45{padding-left: 45px !important;}
.pl50{padding-left: 50px !important;}
.pl55{padding-left: 55px !important;}
.pl60{padding-left: 60px !important;}
.pl65{padding-left: 65px !important;}
.pl70{padding-left: 70px !important;}
.pl80{padding-left: 80px !important;}
.posR{position: relative !important;}
.posA{position: absolute !important;}
.fsize10{font-size: 0.9em !important;}
.fsize12{font-size: 1em !important;}
.fsize14{font-size: 1.2em !important;}
.fsize16{font-size: 1.4em !important;}
.fsize18{font-size: 1.6em !important;}
.fsize20{font-size: 1.8em !important;}
.fn{font-weight: normal !important;}
.fb{font-weight: bold !important;}
.dNone{display: none;}
.dBlock{display: block;}
.list01{margin: 0 1.5em 0 1.5em;}
.list01 li{line-height: 140%; margin-bottom: 0.3em;}
ol.list01 li{list-style: decimal outside;}
ul.list01 li{list-style: disc outside;}
.inlineList li{display: inline;}

.noime{ime-mode: disabled;}

/* parts */

.box1{border: 3px solid #f2efef; padding: 15px; border-radius: 10px;}

.formTbl01 {width: 630px; margin-bottom: 20px;}
.formTbl01 th,
.formTbl01 td{vertical-align: center; border: 1px solid #f2efef;}
.formTbl01 td{padding: 10px;}
.formTbl01 th{padding: 10px 20px 10px 10px; width: 15%; white-space: nowrap; background: #361819; color: #ffffff;}
.formTbl01 td textarea{width: 95%;}
.btn_submit input{padding: 3px;}
.hiss{color: #ff3300;}
th .hiss{margin-left: 5px;}

.btn_submit input{
	font-size: 0.9em;
	color: #361819;
	letter-spacing: 0.2em;
	padding: 8px 18px 6px 20px;
	border-left: 1px solid #f2efef;
	border-top: 1px solid #f2efef;
	border-right: 2px solid #8a7878;
	border-bottom: 2px solid #8a7878;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#f2efef);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#f2efef));
	border-radius: 4px;
}
.btn_submit input:hover {
	background: -moz-linear-gradient(
		top,
		#f2efef 0%,
		#ffffff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#f2efef),
		to(#ffffff));
	border-radius: 4px;
}
.txtbox01{width: 95%;}
.txtbox02{width: 180px;}
.txtbox03{width: 100px;}
.formTbl01 td input,
.formTbl01 td textarea{padding: 1px;}
#errMsg { margin-bottom: 20px; border: 1px solid #ff0000; padding: 15px; background: #ffe2e2; }
#errMsg li{ color: #ff0000; font-weight: bold; line-height: 140%;}

/* layout  */
#container{border-top: 3px solid #381a1b;}
#siteHeader{position: relative; margin-top: 20px; margin-bottom: 20px;}

#bread{background: url(../images/bg_dot_h.gif) repeat-x 0 100%; padding-bottom: 10px;}
#bread a,
#bread span{vertical-align: -4px;}
#bread .sp{margin: 0 5px;}
#bread_home{display: inline-block; width: 32px; height: 26px; text-indent: -9999px; background: url(../images/ico_home.gif) no-repeat 0 0; vertical-align: 0 !important; margin-right: 10px;}

#main_visual{position: relative; margin-bottom: 30px;}
#main_visual #main_pic{width: 669px; height:390px;}
#main_visual #main_pic img{width: 669px;}
#main_visual #main_ttl{position: absolute; bottom: 0; left: 0; z-index: 100;}
#mainContents .wrap{margin-right: 39px;}
#mainContents .txt_ttl{font-size: 2em; font-weight: bold; letter-spacing: 0.1em; margin-bottom: 35px;}

.soudan .kochira.box1{margin-bottom: 40px; background: #faf8f8;}
.soudan .kochira.box1 ul{text-align: center;}
.soudan .kochira.box1 li{background: url(../images/ico_arrow01.png) no-repeat 0 45%; padding: 2px 0 2px 25px; display:inline-block; margin: 0 10px;}
.soudan .kochira.box1 h2{margin-bottom: 0.8em !important; text-align: center; font-size: 15px;}

.yoyaku-info{
	background: #faf8f8;
	padding: 2em 1.5em;
}
.yoyaku-info .yoyaku-ttl{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
.yoyaku-info .box{
	display: flex;
	align-items: center;
}
.yoyaku-info .item.tel{
	width: 52%;
}
.yoyaku-info .item.net{
	width: 48%;
}
.yoyaku-info .item:first-child{
	border-right: 2px solid #381a1b;
}
.yoyaku-info .in{
	margin: 0 25px;
}
.yoyaku-info .in .mi{
	margin-bottom: 5px;
}
.yoyaku-info .in a,
.yoyaku-info .in span{
	font-weight: bold;
	font-size: 22px;
	display: inline-block;
}
.yoyaku-info .in a{
	color: #361819;
	text-decoration: none;
	position: relative;
	padding-right: 25px;
}
.yoyaku-info .in a:hover{
	text-decoration: underline;
}
.yoyaku-info .in a::after{
	content: '';
	position: absolute;
	top: 10%;
	right: 0;
	width: 14px;
	height: 14px;
	border-right: 3px solid #361819;
	border-top: 3px solid #361819;
	transform: rotate(45deg);
	margin-top: 6px;
}

.yoyaku-info .icon-phone{
	background: url(/common/images/ico_phone-1.svg) no-repeat 0 50%;
	background-size: auto 80%;
	padding-left: 35px;
}
.yoyaku-info p+p{
	margin-top: 10px;
}



#subContents .mi{font-weight: bold; letter-spacing: 0.2em; margin-bottom: 10px; font-size: 14px;}
#subContents #local_navi li{background: url(../images/ico_arrow03.gif) no-repeat 5px 5px; padding-left: 25px; margin-bottom: 8px;}
#subContents #local_navi li ul{margin-top: 5px;}
#subContents #local_navi li li{background: none; padding-left: 0; margin-bottom: 5px; font-size: 10px;}
#subContents #local_navi .current{font-weight: bold;}
#subContents #side_navi li{background: url(../images/ico_arrow01.png) no-repeat 0 45%; padding-left: 25px; margin-bottom: 8px;}
#subContents #side_navi li a span{background: #ff3300; color: #fff; display: inline-block; margin-left: 5px; font-size: 10px; padding: 4px 5px; border-radius: 4px; line-height: 1; vertical-align: 1px;}
#subContents #side_ranking #rank1{background: url(../images/ico_rank1.png) no-repeat 0 0; background-size: 17px auto;}
#subContents #side_ranking #rank2{background: url(../images/ico_rank2.png) no-repeat 0 0; background-size: 17px auto;}
#subContents #side_ranking #rank3{background: url(../images/ico_rank3.png) no-repeat 0 0; background-size: 17px auto;}
#subContents #side_ranking #rank4{background: url(../images/ico_rank4.png) no-repeat 0 0; background-size: 17px auto;}
#subContents #side_ranking #rank5{background: url(../images/ico_rank5.png) no-repeat 0 0; background-size: 17px auto;}
#subContents #side_ranking li{padding: 2px 0 4px 25px; margin-bottom: 5px;}
#subContents #side_info dt{font-weight: bold; margin-bottom: 5px;}
#subContents #side_consul .mi{margin-bottom: 5px; letter-spacing: 0;}
#subContents #side_consul li a{padding-left: 15px; display: inline-block; position: relative;}
#subContents #side_consul li a::after{content: ''; position: absolute; top: 50%; left: 0; width: 5px; height: 2px; margin-top: -1px; background: #361819;}
#subContents #side_consul li+li{margin-top: 5px;}
#subContents #side_consul li span{display: inline-block;}
#subContents #side_bn img{
	width: 100%;
	max-width: 200px;
}
#subContents #side_bn li+li{
	margin-top: 15px;
}
#debug{position: fixed; top: 0; left: 0;}
#gnavi_goods{display: none;}

.bn-skype{box-sizing: border-box;}
.bn-skype img{width: 100%;}
.bn-skype a{display: block; transition: opacity .2s;}
.bn-skype a:hover{opacity: .6;}

@media screen and (min-width: 641px)  {
	.snavi,
	.gnavi-sub{
		display: none;
	}

	.inner{width:900px; margin: 0 auto; text-align:left; height:1%;}

	.bn-skype{margin-bottom: 35px; margin-top: 40px;display: flex; justify-content: space-between;}
	.bn-skype a{width: calc((100% - 20px) / 2)}

	#hea_logo{position: absolute; top: 60px; left: 0;}
	#hea_logo a{display: block; width: 180px; height: 49px; background: url(../images/hea_logo.gif) no-repeat 0 0; text-indent: -9999px; outline: none;}
	#gnavi{margin-left: 193px;}
	#gnavi #gnavi_arrow{position: absolute; top: 170px; right: 55px; z-index:10;}
	#gnavi li{float: left; padding: 0 0 20px 31px; position: relative;}
	#gnavi a{display: block; width: 120px; height: 153px; text-indent: -9999px; padding-top: 10px;}
	#gnavi #gnavi_info a{background: url(../images/gnavi_info.jpg) no-repeat 0 10px;}
	#gnavi #gnavi_soudan a{background: url(../images/gnavi_soudan.jpg) no-repeat 0 10px;}
	#gnavi #gnavi_course a{background: url(../images/gnavi_course.jpg) no-repeat 0 10px;}
	#gnavi #gnavi_goods a{background: url(../images/gnavi_goods.jpg) no-repeat 0 10px;}
	#gnavi #gnavi_takuya_b a{background: url(../images/gnavi_takuya_b.jpg) no-repeat 0 10px;}
	#gnavi_takuya_b{margin-right: 0;}

	#contents{background: url(../images/bg_dot_v.gif) repeat-y 669px 0; padding-bottom: 70px;}
	#mainContents{float: left; width: 630px; padding: 40px 39px 30px 0;}
	#subContents{float: right; width: 230px;}
	#subContents .side{padding: 15px 10px 15px 20px; margin-left: 5px; background: url(../images/bg_dot_h.gif) repeat-x 0 100%;}
	#subContents #side_bn{padding-right: 0;}
	#siteFooter{position: fixed; left:0; bottom: 0; width: 100%; z-index:1000;}
	#ft_pagetop{text-align: center; margin-left: 440px; display: none;}
	#ft_bg{background: url(../images/ft_bg.png); padding: 10px 20px;}
	#ft_navi{float: left; margin-top: 5px;}
	#ft_navi li{display: inline; margin-right: 15px; font-weight: bold; letter-spacing: 0.1em;}
	#ft_sns{float: right;}
	#ft_sns li{display: inline; margin-left: 10px;}

	.tbl1{
	  display: table;
	}
	.tbl1 .cell{
	  display: table-cell;
	}

}

@media screen and (min-width: 0px) and (max-width: 640px) {

	.bn-skype{width: auto;}
	.bn-skype a+a{margin-top: 10px;}

	.formTbl01{width: 100% !important;}
	.formTbl01 th,
	.formTbl01 td{display: block;width: auto !important;}
	.formTbl01 td input[type=text]{width: 96%; padding: 3px;}
	#menu{position: fixed; right:0; top: 0; width: 80px; text-align: center; z-index:1000; background: url(../images/ft_bg.png); color: #ffffff; padding-top: 15px; height: 25px; line-height: 1;}
	.inner{width:100%;}
	#contents {background: -webkit-gradient(linear, 0 97%, 0 100%, from(#ffffff), to(#ede6e7));}
	#mainContents{padding: 10px 10px 30px; !important; border-bottom: 2px solid #361819;}
	#mainContents *{float:none !important;}
	#mainContents div{width: auto !important;}
	#subContents {background: -webkit-gradient(linear, 0 0, 0 1%, from(#ede6e7), color-stop(0.1, #ddd2d3), to(#f9f5f5));}
	#subContents .side{padding: 25px 10px 20px 25px; background: url(../images/bg_dot_h.gif) repeat-x 0 100%;}
	#subContents .side:last-child{background: none;}
	#subContents #side_bn {padding-left: 10px;}
	#subContents #side_bn li{text-align: center;}
	#hea_logo {margin-bottom: 20px;}
	#hea_logo a{
		display: block;
		width: 100%;
		height: 74px;
		background: url(../images/hea_logo_smart.jpg) no-repeat 50% 0;
		background-size: 90% auto;
		text-indent: -9999px;
		outline: none;
	}
	#gnavi {
		background: url(../images/ft_bg.png);
		position: fixed;
		right:0;
		top: 0;
		z-index:1000;
		transform: translateY(-100%);
		transition: .3s ease-in-out;
		width: 100%;
		padding: 50px 10px 30px;
		box-sizing: border-box;
	}
	#gnavi.open{transform: translateY(0);}
	#gnavi #gnavi_arrow{display: none;}
	#gnavi a{
		color: #fff;
		text-decoration: none;
	}
	#gnavi .gnavi-p{
		margin-bottom: .5em;
		padding-bottom: .5em;
		border-bottom: 1px solid #fff;
	}
	#gnavi .gnavi-p >a{
		display: block;
		padding: calc(5px + 1vh) 10px;
		font-weight: bold;
		font-size: 16px;
		position: relative;
	}
	#gnavi .gnavi-p >a::after{
		content: '';
		position: absolute;
		top: 50%;
		right: 10px;
		width: 8px;
		height: 8px;
		border-right: 2px solid #fff;
		border-top: 2px solid #fff;
		transform: rotate(45deg);
		margin-top: -3px;
	}



	#gnavi .gnavi-sub{
		margin-left: 2em;
	}
	#gnavi .gnavi-sub li{
		display: inline-block;
	}
	#gnavi .gnavi-sub a{
		display: inline-block;
		font-weight: normal;
		padding: 10px 12px 15px;
		font-size: 14px;
	}
	#gnavi .snavi-top{
	}

	#bread{padding-left: 10px;}
	.under #main_visual{visibility: hidden; height: 0px; margin-bottom: 10px;}

	#ft_pagetop{display: none !important;}
	#ft_bg{background: url(../images/ft_bg.png); padding: 10px 20px;}
	#ft_navi,
	#ft_sns{text-align: center;}
	#ft_navi li,
	#ft_sns li{display: inline-block; font-weight: bold;}
	#ft_navi li,
	#ft_sns li a{padding: 5px;}

	#cms_btn1{clear: both; padding-top: 10px;}
	.soudan .kochira.box1 li{display: block; text-align: left;}

	.yoyaku-info .box{
		display: block;
	}
	.yoyaku-info .item{
		width: 100%;
	}
	.yoyaku-info .item:first-child{
		margin-bottom: 2em;
		padding-bottom: 2em;
		border-bottom: 1px solid #381a1b;
		border-right: 0;
	}
	.yoyaku-info .in{
		margin: 0;
		text-align: center;
	}

}
