#idx #main_visual #main_pic{height:304px;}
#idx #mainContents{padding-top:0;}
#idx #mainContents h2{margin-bottom: 30px;}
#idx #mainContents h2 span{font-size: 20px; margin-right: 10px;}
#idx #mainContents .top-list{margin-top: 40px;}
#idx #mainContents .cont{padding: 0 0 40px 90px; width: 200px;}
#idx #mainContents .cont h3{font-weight: bold; font-size: 15px; background: url(../common/images/ico_arrow02.gif) no-repeat 80% 45%; padding-right: 20px; margin-bottom: 10px;}
#idx #mainContents #kokoro{background: url(images/idx_illust_kokoro.gif) no-repeat 0 0;}
#idx #mainContents #health{background: url(images/idx_illust_health.gif) no-repeat 0 0;}
#idx #mainContents #beauty{background: url(images/idx_illust_beauty.gif) no-repeat 0 0;}
#idx #mainContents #agenesis{background: url(images/idx_illust_agenesis.gif) no-repeat 0 0;}
#idx #mainContents #kids{background: url(images/idx_illust_kids.gif) no-repeat 0 0;}
#idx #mainContents #cancer{background: url(images/idx_illust_cancer.gif) no-repeat 0 0;}
#idx #mainContents #pet{background: url(images/idx_illust_pet.gif) no-repeat 0 0;}
#idx #mainContents .cont a{color:#361819; text-decoration: none;}
#idx #mainContents .cont a:hover,
#idx #mainContents .cont a:focus {text-decoration: underline;}

@media screen and (min-width: 0px) and (max-width: 640px) {
	#idx #mainContents .top-list{margin-top: 30px;}
}
