<footer id="siteFooter">
	<div id="ft_pagetop"><a href="#container"><img src="/common/images/ft_pagetop.png" alt="↑" /></a></div>
	<div id="ft_bg" class="clearfix">
		<ul id="ft_navi">
		<li><a href="/info/contact.html">お問い合わせ</a></li>
		<li><a href="/info/access.html">アクセス</a></li>
		<li><a href="/info/english.html">ENGLISH</a></li>
		</ul>
		<ul id="ft_sns">
		<li><a href="http://www.facebook.com/sugiyaku" target="_blank"><img src="/common/images/ft_btn_fb_default.png" alt="Facebook" /></a></li>
		<li><a href="https://twitter.com/takuyasensei" target="_blank"><img src="/common/images/ft_btn_tw_default.png" alt="twitter" /></a></li>
		</ul>
	</div>
</footer>
