	<header id="siteHeader" class="inner">
		<div id="hea_logo"><a href="/">漢方のスギヤマ薬局 Sugiyama Pharmacy</a></div>
		<nav class="clearfix">
			<ul id="gnavi">
				<li id="gnavi_info" class="gnavi-p">
					<a href="/info/">ごあんない</a>
					<ul class="gnavi-sub">
						<li><a href="/info/staff.html">スタッフ</a></li>
						<li><a href="/info/price.html">処方料金</a></li>
						<li><a href="/info/qa.html">Q&amp;A</a></li>
						<li><a href="/info/access.html">アクセス</a></li>
					</ul>
				</li>
				<li class="gnavi-p" id="gnavi_soudan"><a href="/soudan/">健康相談室</a></li>
				<li class="gnavi-p" id="gnavi_course"><a href="/course/">漢方・健康講座</a></li>
				<li class="gnavi-p" id="gnavi_takuya_b"><a href="/takuya_b/">タクヤ ブログ</a></li>
				<li class="gnavi-p snavi snavi-top"><a href="/yoyaku/">ご相談予約 総合受付</a></li>
				<li class="gnavi-p snavi"><a href="/tel/step.html">電話・スカイプ相談</a></li>
			</ul>
		</nav>
	</header>
