<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-NQ2SWZC9");
</script>
<!-- End Google Tag Manager -->

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
<link rel="stylesheet" href="/common/css/layout.css" type="text/css" media="all" />
<link rel="stylesheet" href="local.css?r=1" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="/common/lib/swipebox/src/css/swipebox.css" />
<link rel="author" href="https://plus.google.com/112607687332372199617" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/common/js/viewport.js"></script>
<script type="text/javascript" src="/common/js/lib.js"></script>
<script type="text/javascript" src="/common/lib/swipebox/src/js/jquery.swipebox.min.js"></script>
<script type="text/javascript" src="/common/js/common.js"></script>
