#home #top_ttl {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 10;
}
#home #top_contact {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
	font-size: 14px;
}
#home #top_contact span {
	margin-left: 5px;
}
#home #top_contact .tel {
	background: url(../common/images/ico_phone-1.svg) no-repeat 0 0;
	padding-left: 20px;
	margin-right: 5px;
	font-weight: bold;
}
#home #top_contact .mi {
	font-weight: bold;
}
#home #top_contact .open,
#home #top_contact .holiday {
	font-size: 13px;
}
#home #visual {
	text-align: center;
	min-height: 433px;
}
#home #visual img {
	display: none;
}
#home #ft_pagetop {
	margin-left: 340px;
}
#home #siteHeader {
	margin-top: 35px;
}
#home #mainContents {
	background: url(common/images/bg_dot_h.gif) repeat-x 0 0;
}
#home #mainContents .mi {
	font-weight: bold;
	letter-spacing: 0.2em;
	font-size: 14px;
	margin-bottom: 10px;
}
#home #sns_btn .fb-like {
	float: left !important;
}
#home #sns_btn .tw {
	float: left !important;
	width: 100px !important;
}
#home .whatsnew-entry p + p {
	margin-top: 1em;
}

@media screen and (min-width: 641px) {
	#home #siteHeader {
	}
	#home .inner {
		width: 800px;
	}
	#home #gnavi {
		margin: 0 5px 0 95px;
	}
	#home #gnavi li {
		float: left;
		padding: 0 15px;
	}
	#home .sec {
		padding: 25px 0;
		margin-right: 5px;
	}
	#home #contents {
		background-position: 569px 0;
	}
	#home #mainContents {
		width: 569px;
		padding: 0px;
	}
	#home .topics {
		padding-right: 10px;
	}
	#home .topics {
		background: url(common/images/bg_dot_h.gif) repeat-x 0 100%;
	}
	#home .taikendan {
		padding-right: 10px;
		background: url(common/images/bg_dot_h.gif) repeat-x 0 0;
		text-align: center;
	}

	#home #blog {
		background: url(common/images/bg_dot_v.gif) repeat-y 270px 0;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#home #blog dt {
		margin: 0 1em 0.5em 0;
		float: left;
	}
	#home #blog dd {
		margin: 0 0 0.5em 0;
	}
	#home #takuya {
		float: left;
		width: 260px;
		padding-right: 10px;
	}
	#home #kenkou {
		float: left;
		width: 260px;
		padding-left: 25px;
	}
	#home #facebook,
	#home #credit {
		background: url(common/images/bg_dot_h.gif) repeat-x 0 0;
	}
	/* #home .fb-like-box{float: left; width: 260px;}
	#home .fb-stream{float: right; width: 260px; padding-right: 20px; margin-top: 10px; line-height: 1.4;} */
	#home .fb-like-box iframe {
		width: 100%;
	}
}

@media screen and (min-width: 0px) and (max-width: 640px) {
	#home .bn-skype {
		padding: 15px;
	}
	#home .sec,
	#home #takuya,
	#home .fb-like-box {
		margin-bottom: 25px;
		padding-bottom: 25px;
		background: url(common/images/bg_dot_h.gif) repeat-x 0 100%;
	}
	#home #top_ttl {
		left: 10px;
	}
	#home #siteHeader {
		margin-top: 35px;
		padding-bottom: 0;
		background: none;
	}

	#home #top_contact {
		position: static;
		text-align: center;
		padding-bottom: 20px;
		background: url(common/images/bg_dot_h.gif) repeat-x 0 100%;
	}
	#home #top_contact span {
		display: inline-block;
		margin: 0 15px;
	}
	#home #top_contact .mi {
		display: block;
	}
	#home #top_contact span + span {
		margin-top: 5px;
	}
	#home #top_contact .open,
	#home #top_contact .holiday {
		display: block;
	}
	#home #top_contact .tel {
		font-size: 20px;
		padding-left: 28px;
		margin-right: 10px;
		background-position: 0 50%;
		background-size: 22px auto;
	}
}
