<section id="side_ranking" class="side">
	<h1 class="mi">症状ランキング</h1>
</section>
<section id="side_navi" class="side">
	<ul>
		<!--
				<li><a href="/recruit/">リクルート</a></li>
				<li><a href="/seminar/">漢方薬局体験セミナー</a></li>
-->

		<li><a href="/yoyaku/">ご相談予約 総合受付</a></li>
		<li><a href="/tel/step.html">電話・スカイプ相談</a></li>
		<!-- <li><a href="/php/soudan_form/soudan_form.php">ネット相談フォーム</a></li>
				<li><a href="/php/soudan_form/soudan_form_pet.php">ペットの健康相談</a></li> -->
	</ul>
</section>
<!--
			<section id="side_info" class="side">
				<dl>
				<dt>漢方のスギヤマ薬局 本店</dt>
				<dd class="mb15">〒 252-0001<br />座間市相模が丘5-10-37<br />TEL: 042-746-1951<br />OPEN: 9:00~19:00<br />定休日：日曜日、祝祭日</dd>
				<dt>漢方のスギヤマ薬局 駅前店</dt>
				<dd>〒 252-0001<br />座間市相模が丘5-5-7 ブリリア小田急相模原103号<br />TEL: 042-705-5423<br />OPEN: 8：30~18：30<br />※木曜日は8：30~17：00<br />定休日：日曜日、祝祭日</dd>
				</dl>
			</section>
			<section id="side_consul" class="side">
				<h1 class="mi">企業・経営者向けコンサル</h1>
				<ul>
					<li><a href="/consulting/keiei.html" target="_blank">店舗売上げアップコンサルタント</a></li>
					<li><a href="/consulting/open.html" target="_blank">漢方店舗開店に向けてのご相談</a></li>
					<li><a href="/consulting/staff.html" target="_blank">スタッフ育成</a></li>
					<li><a href="/consulting/results.html" target="_blank">主な実績・仕事内容</a></li>
				</ul>
			</section>
-->

<section id="side_bn" class="side">
	<ul>
		<li>
			<a href="http://takuya-kanpo-consulting.com/" target="_blank"><img src="/common/images/side_bn_tkc.jpg" alt="Takuya kanpo consulting 漢方店舗専門のコンサルタント" /></a><br />
		</li>
		<li>
			<a href="https://www.youtube.com/channel/UCx5kE1P969v-8QaHBtgNQ5g" target="_blank"><img src="/common/images/side_bn_yt.jpg" alt="タクヤ先生のYouTube東洋医学" /></a><br />
		</li>
		<!-- <li>
						<a href="https://www.youtube.com/channel/UCmOlly5EIV_ijUUt2qLd_bQ" target="_blank"><img src="/common/images/side_bn_video.jpg" alt="中医漢方 Video" /></a><br />
					</li> -->
		<li>
			<a href="/app/quize1/" target="_blank"><img src="/common/images/side_bn_quize1.jpg" alt="中医学ゲーム 方剤編" /></a><br />
		</li>
		<li>
			<a href="http://kanpo-taiken.com/experience/result/4/388/" target="_blank"><img src="/common/images/bn_kanpo_taiken.jpg" alt="漢方体験.com 漢方のスギヤマ薬局のレビュー" /></a><br />
			<p class="mt05 txtCenter">
				<a href="http://kanpo-taiken.com/experience/result/4/388/" target="_blank">↑スギヤマ薬局の漢方で<br />改善されたお客様のお声です</a>
			</p>
		</li>
	</ul>
</section>
