@charset "utf-8";
body{
	min-width: 680px;
}
#title{
	h1{
		@include font-size(20);
		span{
			@include font-size(40);
		}
	}
}

#contents{
	max-width: 640px;
	section{
		h2{
			@include font-size(30);
			line-height: 1.5;
			margin-bottom: 1.2em;
		}
		.mi1{
			@include font-size(18);
			line-height: 1;
		}
		.small{
			@include font-size(13);
		}
		.price{
			p{
				line-height: 1;
				@include font-size(20);
				span{
					@include font-size(14);
				}
			}
		}
		.contact{
			a{
				@include font-size(18);
			}
		}
	}
	.pagenav{
		ul{
			@include clearfix;
			li{
				float: left;
				width: 50%;
			}
			a{
				transition: all .2s;
				&:hover{
					background: #1d216d;
				}
			}
		}
	}

}
#site-footer{
	.logo{
		position: fixed;
		top: 15px;
		right: 15px;
		img{
			width: 170px;
		}
		transition: all .2s;
		&:hover{
			opacity: .5;
		}
	}
	.pagetop{
		width: 60px;
		height: 60px;
		transition: all .2s;
		&:hover{
			background: #1d216d;
		}
	}
}

#ft-nav{
	ul{
		display: table;
		margin: 0 auto;
	}
	li{
		display: table-cell;
		vertical-align: top;
		width: 25%;
		a{
			padding: 40px 20px 35px;
			transition: all .2s;
			&:hover{
				background-color: #dedede;
			}
		}
	}
}
