#idx #mainContents{padding-top: 0px;}
#idx .cont h1{font-weight: bold; font-size: 1.2em; padding: 8px 0 20px 35px;}
#idx #denwa{margin-bottom: 40px;}
#idx #denwa h1{background: url(../common/images/ico_tel1.gif) no-repeat 0 0;}
#idx #mail h1{background: url(../common/images/ico_mail1.gif) no-repeat 0 0;}
#idx #mail h1 a{font-size: 12px; font-weight: normal; margin-left: 10px;}

/*#skype{
  padding: 1em 1.5em;
  margin-bottom: 30px;
  display: inline-block;
}
#skype li{
  display: inline-block;
  margin-right: .5em;
}*/

.step-box .read{
	font-size: 16px;
	margin-bottom: 20px;
  line-height: 1.8;
}
.step-box .read span{
	font-size: 12px;
}
.step-box h2{
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
	border-left: 4px solid rgba(54, 24, 25, .3);
	margin-bottom: 15px;
}
.step-box h2 span{
	font-size: 20px;
	margin-left: 3px;
}
.step-box h3{
	font-size: 16px;
	font-weight: bold;
}
.step-box+.step-box{
	margin-top: 40px;
}
.step-box .tbl1{
  width: 100%;
  border-collapse: collapse;
}
.step-box .cell{
  width: calc(100% / 3);
  border: 1px solid rgba(54, 24, 25, .3);
  padding-bottom: 15px;
}

.step-box dl{
  text-align: center;
}
.step-box dt,
.step-box dd{
}
.step-box dt{
  background-color: rgba(54, 24, 25, .1);
	font-weight: bold;
	font-size: 15px;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(54, 24, 25, .3);
}


/*.step-box dl{
	display: table;
	width: 100%;
	margin-top: 20px;
	border-bottom: 1px solid rgba(54, 24, 25, .3);
	padding-bottom: 15px;
}
.step-box dl+dl{
	margin-top: 15px;
}
.step-box dt,
.step-box dd{
	display: table-cell;
	vertical-align: middle;
}
.step-box dt{
	font-weight: bold;
	font-size: 15px;
	padding-right: 20px;
	width: 70px;
}*/


.skype-wrap img{
	margin: 0 !important;
	vertical-align: 0 !important;
}
.line-wrap img{
  width: 100px;
  ;
}
