<footer id="site-footer">
	<div class="pagetop"><img src="shared/img/pagetop.svg" alt="" /></div>
	<p class="logo"><a href="/" target="_blank"><img src="shared/img/logo.svg" alt="" /></a></p>
</footer>
