<link href="/consulting/shared/css/main.css" rel="stylesheet" type="text/css">
<link href="/consulting/shared/css/mobile.css" rel="stylesheet" type="text/css" media="screen and (max-width: 767px)">
<link href="/consulting/shared/css/desktop.css" rel="stylesheet" type="text/css" media="screen and (min-width: 767px)">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/consulting/shared/js/vendor/jquery.min.js"><\/script>');</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script>window.jQuery.easing.def || document.write('<script src="/consulting/shared/js/vendor/jquery.easing.1.3.js"><\/script>')</script>
<script src="/consulting/shared/js/vendor/jquery.plugin.js"></script>
<!--[if lt IE 10]>
<script src="/consulting/shared/js/vendor/matchMedia.js"></script>
<![endif]-->
<script src="/consulting/shared/js/min/device.min.js"></script>
<script src="/consulting/shared/js/min/main.min.js"></script>
<script>document.write('<script src="/consulting/shared/js/'+deviceType+'.js"><\/script>');</script>
