@charset "utf-8";

/* font */
.fn{font-weight: normal !important;}
.fb{font-weight: bold !important;}

.list1{
	margin-left: 2em;
}
ol.list1 li{list-style: decimal outside;}
ul.list1 li{list-style: disc outside;}

span.inb{display: inline-block;}

.noscroll{overflow: hidden; height: 100%;}