@charset "utf-8";
body {
	background: #fff;
	letter-spacing: 0.3px;
	font-family: $font-family-gothic1;
}

#site-header{
	p{
		color: #080a39;
		display: inline-block;
		padding: 10px;
		margin-left: auto;
		line-height: 1;
		@include font-size(12);
	}
}
#title{
	text-align: center;
	margin: 10px 0 40px;
	h1{
		line-height: 1.5;
		span{
			display: block;
			margin-top: 0.5em;
			span{
				display: inline-block;
				margin-top: 0;
			}
		}
	}
}
#visual{
	img{
		width: 100%;
	}
}

#site-footer{
	.pagetop{
		cursor: pointer;
		background: #080a39;
		position: fixed;
		bottom: 0;
		right: 0;
	}
}

#ft-nav{
	background: #f0f0f0;
	li{
		a{
			display: block;
			color: #000;
			text-align: center;
			@include font-size(14);
			span{
				display: inline-block;
			}
			span:last-child{
				display: block;
				@include font-size(17);
				background: url(../img/arrow1.svg) no-repeat 50% 100%;
				padding-bottom: 40px;
			}
		}
	}
	.current{
		background-color: #dedede;
	}
}

#contents{
	margin: 40px auto 90px;
	.read{
		margin-bottom: 70px;
		p+p{
			margin-top: 1em;
		}
	}
	.pic{
		text-align: center;
		img{
			width: 100%;
			max-width: 340px;
		}
		&+p{
			margin-top: 40px;
		}
	}
	.pic:last-child{
		margin-top: 40px;
	}
	.pic+.read{
		margin-top: 40px;
	}
	section{
		h2{
			text-align: center;
			span{
				display: inline-block;
			}
		}
		p+p{
			margin-top: 0.5em;
		}
		.mi1{
			margin-bottom: 1.2em;
			background: #080a39;
			color:#fff;
			display: inline-block;
			padding: 10px 12px;
		}
		.price{
			text-align: center;
			p{
				background: #e9e9e9;
				padding: 15px 20px;
				display: inline-block;
			}
		}
		.contact{
			margin-top: 35px;
			text-align: center;
			a{
				background: #080a39;
				color:#fff;
				padding: 20px 25px;
				display: inline-block;
				transition: all .5s;
				&:hover{
					background: #1d216d;
				}
			}
		}
	}
	section+section{
		margin-top: 80px;
	}
	.pagenav+section{
		margin-top: 10px;
	}
	.pagenav{
		ul{
			li{
				padding: 3px;
			}
			a{
				-webkit-font-smoothing: subpixel-antialiased;
				@include font-size(12);
				text-align: center;
				color: #fff;
				position: relative;
				padding: .4em .4em .4em 20px;
				background-color: #080a39;
				border-radius: 12px;
				display: block;
				&::after{
					position: absolute;
					top: 50%;
					left: 12px;
					margin-top: -5px;
					width: 5px;
					height: 5px;
					border-bottom: 1px solid #fff;
					border-right: 1px solid #fff;
					transform: rotate(45deg);
					content: "";
				}
			}
			li{
			}
		}
	}
}
body.results{
	#contents{
		section{
			padding-top: 40px;
		}
		section+section{
			margin-top: 40px;
		}
	}
	.resultlist{
		margin-top: 1em;
		font-size: 1.4rem;
		dt{
			font-weight: bold;
			margin-bottom: .5em;
		}
		a{
			color:#000;
			text-decoration: underline;
		}
	}
}

body.staff{
	.ikusei{
		dt{
			@include font-size(18);
		}
		dd+dt{
			margin-top: 1em;
		}
		dl+p{
			margin-top: 1em;
		}
	}
}
body.keiei{
	.consultant{
		text-align: center;
		.pic{
			img{
				width: 100%;
				max-width: 300px;
			}
		}
		h3{
			margin-top: 30px;
			@include font-size(22);
			line-height: 1;
			span{
				display: block;
				margin-top: 10px;
				@include font-size(12);
			}
		}
		ul{
			margin-top: 30px;
			@include font-size(18);
		}
		p{
			margin-top: 30px;
			text-align: left;
			@include font-size(14);
		}
	}
	.flow{
		h3{
			@include font-size(16);
			text-align: center;
			margin-bottom: 35px;
		}
		.img{
			text-align: center;
			margin-bottom: 30px;
			img{
				width: 100%;
				max-width: 570px;
			}
		}
	}

}
