@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
li{list-style:none;}
img{vertical-align:top;}
div,li,h1,h2,h3,h4,h5,h6{@include box-sizing(border-box);}
a{
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	*{outline: none;}
	img{outline: none;}
}
html{
	font-size: 62.5%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
body {
	@include font-size(16);
	font-family: $font-family-gothic1;
	-webkit-font-smoothing: antialiased;
}
p,li,dl,h1,h2,h3,h4{
	line-height: 1.8;
}
a{
	text-decoration: none;
}
::selection {
	background: #d5d3d2;
}
::-moz-selection {
	background: #d5d3d2;
}

