<mt:IfArchiveTypeEnabled archive_type="Category">
<section id="local_navi" class="side">
<h1 class="mi"><a href="<$MTBlogURL$>"><$mt:BlogName encode_html="1"$></a></h1>
<mt:TopLevelCategories>
<mt:SubCatIsFirst>
<ul>
</mt:SubCatIsFirst>
<mt:If tag="CategoryCount">
<li><a href="<$mt:CategoryArchiveLink$>"<mt:If tag="CategoryDescription"> title="<$mt:CategoryDescription remove_html="1" encode_html="1"$>"</mt:If>><$mt:CategoryLabel$></a>
<mt:Else>
<li><$mt:CategoryLabel$>
</mt:If>
<$mt:SubCatsRecurse$>
</li>
<mt:SubCatIsLast>
</ul>
</mt:SubCatIsLast>
</mt:TopLevelCategories>
</mt:IfArchiveTypeEnabled>
</section>
<!--local_navi-->



<div id="beta">
    <div id="beta-inner">

<mt:If name="page_columns" eq="2">
    <mt:Ignore><!-- Use the 2-column layout Sidebar if page layout is layout-wt or layout-tw. --></mt:Ignore>
    <$mt:WidgetSet name="2カラムのサイドバー"$>
<mt:Else name="page_columns" eq="3">
    <mt:Ignore><!-- Use the 3-column layout Primary Sidebar if page layout is layout-wtt or layout-twt. --></mt:Ignore>
    <$mt:WidgetSet name="3カラムのサイドバー(メイン)"$>
</mt:If>

    </div>
</div>


<mt:If name="page_columns" eq="3">
    <mt:Ignore><!-- Use the 3-column layout Secondary Sidebar if page layout is layout-wtt or layout-twt. --></mt:Ignore>
<div id="gamma">
    <div id="gamma-inner">
    <$mt:WidgetSet name="3カラムのサイドバー(サブ)"$>
    </div>
</div>
</mt:If>
