/* Movable Type (r) (C) 2001-2012 Six Apart, Ltd. All Rights Reserved
 * This file is combined from multiple sources.  Consult the source files for their
 * respective licenses and copyrights.
 */body{margin:0;padding:0;line-height:1.2;}h1, h2, h3, h4, h5, h6{margin:0;padding:0;font-size:100%;font-weight:normal;}p{line-height:1.4;margin:0 0 1em;}pre{overflow:auto;max-height:500px;margin:0 auto;padding:0.8em;font-size:95%;}blockquote{clear:both;margin:2em auto;padding:1px 0.8em;}address{font-style:normal;}del{text-decoration:line-through;font-weight:normal !important;}ins{margin:1em 0 0.5em;padding:1px 0;}em{font-style:italic;}strong{font-weight:bold;}cite{font-size:90%;}pre em,
pre strong{margin:0;}abbr,
acronym{cursor:help;border-bottom:1px dotted;}code,
samp,
kbd,
var{font-family:monospace;font-size:100%;}sub,
sup{font-size:50%;}ul,
ol{margin:0;padding:0;}li{margin-bottom:0.5em;line-height:1.5;list-style-type:none;}dl{margin:2em 0;}dd{margin:0 0 0 1em;}form{margin:0;padding:0;}fieldset{margin:0;padding:0;border:0;}input,
label,
select,
button{vertical-align:middle;margin:0;}table{margin:0 auto 2.5em;font-size:100%;border-spacing:0;}caption{margin-bottom:0.2em;}th,
td{border-collapse:collapse;}img{vertical-align:middle;}a img{border:0;}html,
body{height:100%;}body{color:#2b2b2b;background-color:#fffffc;font-size:13px;font-family:Helvetica, "Helvetica Neue", Arial, sans-serif;}a{color:#507ea4;outline:0;}a:hover,
a:active{color:#839b5c;text-decoration:none;}h2, h3, h4, h5, h6{margin:1em 0;font-weight:bold;}h2{font-size:115%;}h3, h4, h5, h6{font-size:100%;}pre{margin:10px 0 0;border:1px solid #c0c6c9;background-color:#f3f3f3;color:#7b7c7d;}.hint{width:75%;color:#a3a3a2;font-size:95%;font-style:Italic;}.alert-warning-inline{margin:5px 0 0;font-size:95%;}.alert-warning-inline,
.alert-warning-inline a{color:#f39800;}.picture{clear:both;position:relative;margin:1.5em 0;}.picture.small{float:left;margin:0 10px 0.5em 0;}.picture img{height:auto;}.thumbnail,
.userpic{border:1px solid #c0c6c9;}.userpic{position:relative;}.userpic .icon{position:absolute;right:0;bottom:0;}#userpic-preview{margin-bottom:10px;}.thumbnail{background:#f3f3f3 url(../images/thumbnail-bg.png) repeat top left;}.asset-thumb{width:45px;height:45px;}.asset-thumb.asset-type-icon{border:0;background:none;}.sticky-label{display:inline-block;padding:0.2em 0.5em;background-color:#adadad;color:#fff;font-size:80%;border-radius:3px;-moz-border-radius:3px;}.sticky-label.required,
.sticky-label.inuse-userpic{margin-left:10px;}.sticky-label.system{background-color:#7b7c7d;}.sticky-label.website{background-color:#839b5c;}.sticky-label.blog{background-color:#5c909b;}.selected-items .sticky-label{margin-bottom:1px;padding-right:0;text-decoration:none;}.selected-items .sticky-label .remove{float:right;padding:0 0.3em;margin:0 0.3em;background-color:#dcdddd;color:#2b2b2b;}.selected-items .sticky-label .remove:hover{background-color:#2b2b2b;color:#fff;}.multiple-selection{display:inline-block;}.multiple-selection li{display:inline-block;margin:0 15px 5px 0;}.fixed-width.multiple-selection li{width:250px;margin:0 0 5px;}.overlay,
.ui-widget-overlay{position:absolute;top:0;left:0;background-color:#9ea1a3;-moz-opacity:0.5;opacity:0.5;filter:alpha(opacity=50);}.toggle-button{cursor:pointer;position:absolute;top:0;right:0;height:100%;background-color:#f3f3f3;background:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));background:-moz-linear-gradient(top, #f3f3f3 0%, #dcdddd 100%);border-left:1px solid #c0c6c9;text-align:center;}.toggle-button:hover{background-color:#fafafa;background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9eaea));background:-moz-linear-gradient(top, #fafafa 0%, #e9eaea 100%);}.active .toggle-button{background-color:#dcdddd;background:-webkit-gradient(linear, left top, left bottom, from(#dcdddd), to(#f3f3f3));background:-moz-linear-gradient(top, #dcdddd 0%, #f3f3f3 100%);}.toggle-button img{position:absolute;top:50%;left:50%;margin:-2px 0 0 -4px;}.menu-nav .toggle-button{width:20px;}.filter-header .toggle-button{width:30px;border-top-right-radius:5px;-moz-border-radius:0 5px 0 0;}.filter-header .toggle-button img,
.menu-nav .toggle-button img{margin:-3px 0 0 -5px;}.toggle-link{display:inline-block;cursor:pointer;background:transparent;color:#7b7c7d;text-decoration:underline;}.toggle-link:hover,
.toggle-link:active{text-decoration:none;}.detail{clear:both;}.open-dialog-link{border-bottom:1px dotted;color:#7b7c7d;text-decoration:none;}.open-dialog-link:hover{border-bottom:0;}.progressbar{height:2em;border:1px solid #c0c6c9;background:#fff;border-radius:3px;-moz-border-radius:3px;}.progressbar.indeterminate{background:#c0c6c9 url(../images/progress-bar-indeterminate.gif) repeat;}.ui-progressbar .ui-progressbar-value{height:100%;background-color:#dcdddd;background:-webkit-gradient(linear, left top, left bottom, from(#58bee3), to(#32789e));background:-moz-linear-gradient(top, #58bee3 0%, #32789e 100%);border-top-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:5px 0 0 5px;}.item-action{margin-left:8px;}.option{margin:10px 0;}.metadata-item{line-height:1.2;margin-bottom:0.5em;}.metadata-item strong{margin-right:0.5em;}.ui-tabs .ui-tabs-hide{display:none;}.ui-tabs-nav,
ul.tabs{margin-bottom:20px;border-bottom:1px solid #c0c6c9;}.ui-tabs-nav li,
ul.tabs li{line-height:1;display:inline-block;margin:0 0 -1px 5px;border:1px solid #c0c6c9;background-color:#f3f3f3;font-size:85%;border-top-right-radius:3px;border-top-left-radius:3px;-moz-border-radius:3px 3px 0 0;}.ui-tabs-nav li.first-child,
ul.tabs li.first-child{margin-left:10px;}.ui-tabs-nav li.ui-tabs-selected,
ul.tabs li.selected-tab{border-bottom-color:#fff;background-color:#fff;}.ui-tabs-nav li.ui-state-hover{background-color:#fff;}.ui-tabs-nav li a,
ul.tabs li a{display:block;padding:5px 10px;color:#2b2b2b;text-decoration:none;outline:0;}.ui-datepicker{display:none;width:200px;border:1px solid #c0c6c9;background-color:#fff;padding:2px;}.ui-datepicker .ui-datepicker-header{position:relative;background-color:#5c909b;}.ui-datepicker .ui-datepicker-title{line-height:22px;height:22px;font-weight:bold;color:white;text-align:center;}.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:15px;height:15px;margin-bottom:2px;color:white;text-align:center;}.ui-datepicker .ui-datepicker-prev{left:2px;}.ui-datepicker .ui-datepicker-next{right:2px;}.ui-datepicker table{width:100%;margin:0;font-size:95%;}.ui-datepicker th{padding:0.7em 0.5em 0;text-align:center;font-weight:bold;font-family:monospace;}.ui-datepicker thead .ui-datepicker-week-end{color:#7b7c7d;}.ui-datepicker thead span[title=sunday]{color:#f55;}.ui-datepicker span[title=saturday]{color:#3b83f3;}.ui-datepicker td{padding:1px;}.ui-datepicker .ui-state-default{border:1px solid #c0c6c9;background-color:#f3f3f3;}.ui-datepicker .ui-state-hover{border-color:#7b7c7d;background-color:#c0c6c9;}.ui-datepicker .ui-state-highlight{border-color:#ebd147;background-color:#fbf9ee;}.ui-datepicker a{display:block;padding:0.2em;text-align:right;text-decoration:none;color:#333;}.ui-datepicker,
.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;}#container{overflow:hidden;position:relative;height:auto;min-width:980px;min-height:100%;}#content{height:auto;margin:0;padding:15px 15px 20px;}.has-menu-nav #content{margin-left:175px;}#content-body{margin-top:15px;}#menu{float:left;width:155px;margin-left:-175px;margin-bottom:100px;}#main{float:left;width:100%;margin-bottom:100px;}#footer{position:absolute;bottom:0;clear:both;width:100%;}.has-related-content #content-body{margin-right:220px;}#dashboard.has-related-content #content-body,
.edit-screen #content-body{margin-right:280px;}.has-related-content #main-content{float:left;clear:left;}#related-content{float:right;clear:right;width:200px;margin-right:-220px;}#dashboard.has-related-content #related-content,
.edit-screen #related-content{width:260px;margin-right:-280px;}.line:after{content:'';display:block;clear:both;}.unit{float:left;}.size1of1{float:none;width:100%;}.size1of2{width:50%;}.size1of3{width:33.33333%;}.size2of3{width:66.66666%;}.size1of4{width:25%;}.size3of4{width:75%;}.size1of5{width:20%;}.size2of5{width:40%;}.size3of5{width:60%;}.size4of5{width:80%;}.mod{padding:8px;position:relative;}#header{position:relative;height:68px;}#brand{height:38px;background-color:#2b2b2b;}#brand img{visibility:hidden;}#brand a,
.preview-screen #brand{display:block;position:absolute;top:4px;left:15px;z-index:10;width:173px;height:30px;text-decoration:none;background:#2b2b2b url(../images/logo/movable-type-brand-logo.png) center 3px no-repeat;outline:0;}.website #brand a,
.website.preview-screen #brand{background-image:url(../images/logo/movable-type-brand-logo-website.png);}.system #brand a,
.system.preview-screen #brand{background-image:url(../images/logo/movable-type-brand-logo-system.png);}#brand a:hover{background-color:#383c3c;-moz-border-radius:3px;border-radius:3px;}#brand span.tips{display:block;position:absolute;top:11px;left:195px;color:#7b7c7d;text-transform:uppercase;}#utility-nav{position:absolute;color:#9ea1a3;top:10px;right:0;font-size:95%;}#utility-nav-list{margin-right:15px;}#utility-nav li{display:inline;margin:0;padding:0;}#utility-nav a{padding:0 0 0 0.5em;color:#c0c6c9;text-decoration:none;}#utility-nav a:hover{color:#f3f3f3;text-decoration:underline;}#utility-nav #user a{padding-right:10px;border-right:1px solid #7b7c7d;}#utility-nav #user a:hover{text-decoration:none;}#utility-nav #user a:hover span{text-decoration:underline;}#utility-nav #user .userpic{border:1px solid #c0c6c9;vertical-align:top;}#utility-nav #help{margin-right:0.5em;}#menu-bar{position:relative;height:30px;width:100%;background-color:#7b7c7d;}.website #menu-bar{background-color:#839b5c;}.blog #menu-bar{background-color:#5c909b;}#selector-nav{position:relative;z-index:500;height:30px;}#selector-nav .toggle-button{position:absolute;top:50%;left:15px;width:16px;height:16px;border:1px solid #c0c6c9;margin:-9px 10px 0 0;border-radius:3px;-moz-border-radius:3px;}.scope{display:inline-block;max-width:100%;height:30px;margin:0;padding:0 10px 0 15px;overflow:hidden;}.blog .scope{max-width:60%;}.scope.website{background-color:#839b5c;}.blog .scope.website{max-width:25%;}.scope.user,
.scope.system,
.scope.website{padding-left:40px;}.scope.blog{margin-left:-5px;padding-left:25px;background-color:#5c909b;background:transparent url(../images/selector-nav-separator_blog.gif) left center no-repeat;}.scope a{outline:0;color:#f3f3f3;text-decoration:none;}.scope a:hover{color:#f3f3f3;text-decoration:underline;}.scope-label{display:inline-block;line-height:30px;height:30px;width:100%;overflow:hidden;color:#f3f3f3;font-size:115%;font-style:normal;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;}.scope-selector{display:none;position:absolute;top:30px;left:10px;min-width:320px;max-width:100%;border:1px solid #adadad;border-top:0;background-color:#f3f3f3;border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;box-shadow:0 5px 8px #9ea1a3;-webkit-box-shadow:0 5px 8px #9ea1a3;-moz-box-shadow:0 5px 8px #9ea1a3;opacity:0.96;}.show-selector .scope-selector{display:block;}.scope-list,
.create-action{border-top:1px solid #dcdddd;}.sticky-label.scope-level{margin:0 0 5px;font-size:100%;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;-moz-border-radius:0 0 3px 0;}.scope-selector li{margin:0;font-weight:normal;}.scope-selector a{display:block;padding:3px 8px 3px 15px;overflow:hidden;color:#2b2b2b;text-decoration:none;white-space:nowrap;text-overflow:ellipsis;}.scope-selector a:hover{text-decoration:none;background-color:#7b7c7d;color:#fff;opacity:1;}.scope-list.website a:hover{background-color:#839b5c;}.scope-list.blog a:hover{background-color:#5c909b;}.parent{display:inline;margin-left:5px;font-size:85%;font-weight:normal;}.select-another{text-align:right;}.scope-selector div.last-child li.last-child a{-moz-border-radius:0 0 5px 5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}#menu-bar-nav{position:absolute;top:3px;right:0;z-index:500;}#menu-bar-nav a{outline:0;}.fav-actions-nav{position:relative;top:1px;z-index:600;float:right;}.fav-actions-nav .action.button,
.fav-actions-nav .toggle-button{border-color:#f8b500;background-color:#ffd900;background:-webkit-gradient(linear, left top, left bottom, from(#ffd900), to(#f8b500));background:-moz-linear-gradient(top, #ffd900 0%, #f8b500 100%);color:#2b2b2b;text-shadow:none;box-shadow:1px 1px 2px #666;-webkit-box-shadow:1px 1px 2px #666;-moz-box-shadow:1px 1px 2px #666;}.fav-actions-nav .action.button:hover,
.fav-actions-nav .toggle-button:hover{border-color:#c89932;background-color:#ffdd1a;background:-webkit-gradient(linear, left top, left bottom, from(#ffdd1a), to(#ffbf13));background:-moz-linear-gradient(top, #ffdd1a 0%, #ffbf13 100%);}.fav-actions-nav .action.button:active,
.fav-actions-nav.active .toggle-button{background-color:#c89932;background:-webkit-gradient(linear, left top, left bottom, from(#ffbf13), to(#ffdd1a));background:-moz-linear-gradient(top, #ffbf13 0%, #ffdd1a 100%);}.fav-actions{border:1px solid #adadad;border-top:0;background-color:#f3f3f3;border-bottom-right-radius:3px;border-bottom-left-radius:3px;-moz-border-radius:0 0 3px 3px;box-shadow:0 5px 8px #9ea1a3;-webkit-box-shadow:0 5px 8px #9ea1a3;-moz-box-shadow:0 5px 8px #9ea1a3;}.fav-action{margin:0;}.fav-action-link{display:block;padding:3px 7px;text-decoration:none;}.fav-action-link:hover{background-color:#e7e7eb;}.fav-action.last-child .fav-action-link{border-bottom-right-radius:3px;border-bottom-left-radius:3px;-moz-border-radius:0 0 3px 3px;}#menu-bar-icons{float:right;height:24px;margin:0 15px 0 8px;}#menu-bar-icons li{display:inline;margin:0 0 0 3px;}#menu-bar-icons li a{display:inline-block;width:24px;height:24px;color:#f3f3f3;background-position:center;background-repeat:no-repeat;}#rebuild-site a{background-image:url(../images/nav-icon-publish.png);}#view-site a{background-image:url(../images/nav-icon-view.png);}#cms-search a{position:static;background-image:url(../images/search-submit.png);border:0;}#menu-bar-icons li.active a,
#menu-bar-icons li a:hover{background-color:#9ea1a3;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}#rebuild-site a span,
#view-site a span,
#cms-search a span,
#blog-dashboard a span{display:none;}#basic-search{position:absolute;top:27px;right:15px;z-index:500;padding:8px;border-top:1px solid #dcdddd;background-color:#7b7c7d;text-align:right;border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;box-shadow:0 5px 8px #9ea1a3;-webkit-box-shadow:0 5px 8px #9ea1a3;-moz-box-shadow:0 5px 8px #9ea1a3;}.website #basic-search{background-color:#839b5c;}.blog #basic-search{background-color:#5c909b;}#basic-search .text,
#basic-search .button{margin:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}#basic-search .search-query{width:200px;}.menu-nav{position:relative;background-color:#fff;}.menu-nav *{border-color:#c0c6c9;}.menu-nav em{font-style:normal;}.menu-nav .item{margin:0;}.menu-label{display:inline-block;padding:5px 7px;}.sub-menu .menu-label{padding:3px 8px;}.menu-link{display:block;text-decoration:none;outline:0;}.top-menu-link{margin-right:20px;padding:0;}.current .top-menu-link{background-color:#f3f3f3;background:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));background:-moz-linear-gradient(top, #f3f3f3 0%, #dcdddd 100%);color:#2b2b2b;font-weight:bold;text-shadow:#f8fbf8 0 1px 0;}.current .top-menu-link:hover{background-color:#fafafa;background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9eaea));background:-moz-linear-gradient(top, #fafafa 0%, #e9eaea 100%);}.top-menu div{position:relative;border-style:solid solid none;border-width:1px;}.sub-menu{display:none;border-style:solid solid none;border-width:1px;background-color:#f3f3f3;}.current .sub-menu{display:block;}.sub-menu-link:hover{background-color:#e7e7eb;}.sub-menu-link.current{background-color:#dcdddd;color:#2b2b2b;}.menu-nav,
.top-menu.first-child.last-child div{-moz-border-radius:5px;border-radius:5px;}.top-menu.first-child div{-moz-border-radius:5px 5px 0 0;border-top-right-radius:5px;border-top-left-radius:5px;}.top-menu.first-child .toggle-button{-moz-border-radius:0 5px 0 0;border-top-right-radius:5px;}.top-menu.last-child div,
.top-menu.last-child .sub-menu{-moz-border-radius:0 0 5px 5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom:1px solid #c0c6c9;}.top-menu.last-child .toggle-button{-moz-border-radius:0 0 5px 0;border-bottom-right-radius:5px;}.top-menu-open.last-child div,
.top-menu-open.last-child .toggle-button{-moz-border-radius:0;border-radius:0;border-bottom:0;}.current.first-child .top-menu-link{-moz-border-radius:5px 0 0 0;border-top-left-radius:5px;}.top-menu.first-child.last-child .toggle-button{-moz-border-radius:0 5px 5px 0;border-top-right-radius:5px;border-bottom-right-radius:5px;}.top-menu-open.first-child.last-child div{-moz-border-radius:5px 5px 0 0;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:0;border-bottom-left-radius:0;}.top-menu-open.first-child.last-child .toggle-button{-moz-border-radius:0 5px 0 0;border-top-right-radius:5px;border-bottom-right-radius:0;}#content-header{position:relative;}.title.page{font-size:150%;font-weight:normal;}.title.panel{margin-bottom:10px;}.action-link-list{margin-top:5px;}.action-link-list li{display:inline-block;margin-right:10px;}.object-nav{position:absolute;top:0;right:0;font-family:Arial, sans-serif;}.object-nav span{color:#9ea1a3;}.object-nav li{display:inline-block;line-height:1;margin:0;}.object-nav li a,
.object-nav li span{display:inline-block;text-decoration:none;padding:0.3em 0.5em;background-color:#f3f3f3;outline:0;border-radius:3px;-moz-border-radius:3px;}.object-nav li a:hover{text-decoration:underline;}#display_image-field{margin-top:0;}#system_users-field .listing{margin-bottom:10px;}.create-inline{display:none;margin:10px 0;padding:8px 10px;background-color:#dcdddd;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}.widget .actions-bar{margin-bottom:0;}.display-options .actions-bar{margin-bottom:8px;}.plugin-actions{float:right;margin:3px 0 0;}.autosave-notification{margin-top:1em;}.widget{margin-bottom:15px;border:1px solid #c0c6c9;background-color:#fff;border-radius:5px;-moz-border-radius:5px;}.widget-header{position:relative;padding:5px 8px 5px 10px;background-color:#f3f3f3;background:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));background:-moz-linear-gradient(top, #f3f3f3 0%, #dcdddd 100%);border-top-right-radius:5px;border-top-left-radius:5px;-moz-border-radius:5px 5px 0 0;}.widget-no-header .widget-header{display:none;}.widget-header h2,
.widget-header h3,
.widget-header h4,
.widget-header h5,
.widget-header h6{margin:0;font-size:100%;font-weight:bold;}.tabbed .widget-label h2,
.tabbed .widget-label h3,
.tabbed .widget-label h4,
.tabbed .widget-label h5,
.tabbed .widget-label h6{display:none;}.widget-action{float:right;}.widget-close-link{display:inline-block;height:15px;width:15px;background:url(../images/widget/widget-icons.png) -33px 0 no-repeat;}.widget-close-link span{display:none;}.widget-content{padding:10px;border-top:1px solid #c0c6c9;}.tabbed .widget-content,
.widget-no-header .widget-content{border:0;}.loaded-revision .status-widget{background-color:#f2f2b0;}.user .you-widget{clear:both;border:0;background-color:transparent;overflow:hidden;}.user .you-widget .widget-content{padding:0;}.you-widget .user-pic{position:relative;width:90px;height:90px;}.you-widget .user-stats{margin-left:110px;}#favorite_blogs .widget-header{padding-bottom:0;}#favorite_blogs #favorite-blogs-tabs{margin:0 -10px;}#favorite_blogs #favorite-blogs-tabs ul.tabs{margin-bottom:0;width:100%;}.favorite-blogs-widget .widget-content{padding-right:0;}.blog-name{margin-top:0;font-size:115%;}.favorite-blogs-widget .blog-container{max-height:455px;overflow:auto;}.favorite-blogs-widget .msg{margin-right:10px;}.favorite-blogs-widget .blog-content{position:relative;margin:0 10px 0 0;padding:10px;overflow:hidden;}.favorite-blogs-widget .thumbnail{margin-bottom:0;}.favorite-blogs-widget .blog-meta{margin-right:120px;margin-left:135px;}.favorite-blogs-widget .blog-name{margin-bottom:3px;}.favorite-blogs-widget .blog-link{margin-bottom:10px;overflow:hidden;font-size:90%;text-overflow:ellipsis;white-space:pre;}.favorite-blogs-widget .blog-link a{color:#7b7c7d;}.favorite-blogs-widget .blog-description{margin-bottom:10px;font-size:90%;}.favorite-blogs-widget .blog-control li{display:inline;margin-left:5px;padding-right:5px;border-right:1px solid #c0c6c9;font-size:90%;}.favorite-blogs-widget .blog-control li.first-child{margin-left:0;}.favorite-blogs-widget .blog-control li.last-child{padding:0;border:0;}.favorite-blogs-widget .blog-action{position:absolute;top:10px;right:10px;}.favorite-blogs-widget .blog-action a.button{width:100px;margin:0;}.favorite-blogs-widget .select-website,
.favorite-blogs-widget .select-blog{margin-top:10px;text-align:right;}.favorite-blogs-widget .select-website a,
.favorite-blogs-widget .select-blog a{margin-right:10px;}.blog-stats-widget{min-height:480px;}#blog-stats-widget-tabs{margin:0 -10px;}.blog-stats-widget-panel{overflow:hidden;}.blog-stats-widget embed{display:block;width:540px;height:120px;margin:0 auto;}.blog-stats-widget .stats-summary{text-align:center;}.blog-stats-widget .tab-panel-header{margin:20px 0 10px;font-weight:bold;}.object-list-widget .content{padding:0 10px 10px;padding-left:22px;background-repeat:no-repeat;background-position:8px 16px;overflow:hidden;}.object-list-widget .content p{margin-bottom:.5em;}.object-list-widget .content .meta{color:#9ea1a3;}.blog-stats-widget-panel .view-all{margin-top:10px;text-align:right;}#comment-panel .content{padding-top:10px;}.blog-stats-widget .comment-status-publish{background-image:url(../images/status_icons/success.gif);}.blog-stats-widget .comment-status-pending{background-image:url(../images/status_icons/warning.gif);}.blog-stats-widget .entry-status-publish{background-image:url(../images/status_icons/success.gif);}.blog-stats-widget .entry-status-review{background-image:url(../images/status_icons/warning.gif);}.blog-stats-widget .entry-status-spam{background-image:url(../images/status_icons/warning.gif);}.blog-stats-widget .entry-status-draft{background-image:url(../images/status_icons/draft.gif);}.blog-stats-widget .entry-status-future{background-image:url(../images/status_icons/future.gif);}.blog-stats-widget #tag-cloud{margin:10px 0;}.blog-stats-widget #tag-cloud-list li{display:inline;padding-right:10px;}.blog-stats-widget .tag-1{font-size:24px;}.blog-stats-widget .tag-2{font-size:22px;}.blog-stats-widget .tag-3{font-size:20px;}.blog-stats-widget .tag-4{font-size:18px;}.blog-stats-widget .tag-5{font-size:16px;}.blog-stats-widget .tag-6{font-size:14px;}.blog-stats-widget .author{padding:10px;}.blog-stats-widget .auth-icon{width:12px;height:12px;}.blog-stats-widget .author h4{margin-top:5px;}.news-widget #news-widget-tabs{margin:0 -10px 15px;}.news-widget .news-widget-list{display:none;}.most-recent-entry .excerpt{margin-top:10px;}.include-from{display:block;margin-left:20px;font-size:85%;}.tmpl-label.error{color:#9e3d3f;}#asset-listing-table .asset-thumb a span{display:none;}#asset-listing-table .asset-thumbnail .asset-type-youtube .asset-thumb a img{margin-left:-25px;margin-top:-9px;}#asset-listing-table .status-missing .as-asset-type{background:url(../images/status_icons/warning.gif) no-repeat left center;padding-left:15px;}.asset-image{background-image:url(../images/asset-image.gif);}#page-revison-listing,
#entry-revision-listing,
#template-revision-listing{margin-bottom:0;padding:0;}.list-revision-dialog .col.datetime{width:25%;}.list-revision-dialog .col.status{width:15%;}.list-revision-dialog .col.created-by{width:18%;}.tmpl-type-name{margin-bottom:3px;}.edit-comment #status-field,
.edit-ping #status-field,
.edit-author .user-status-disabled,
.edit-group .group-status-disabled{position:relative;padding:10px 0 10px;}#comment-feedback-rating,
#ping-feedback-rating{margin-top:10px;}#status-field .listing{margin-bottom:0;}#text-field{position:static;}.editor-toolbar{padding:8px;border:1px solid #c0c6c9;background-color:#f3f3f3;border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius:5px 5px 0 0;}.editor-toolbar .button{display:inline-block;width:22px;height:22px;margin:4px 0 0;padding:0;border:0;overflow:hidden;border-radius:0;-moz-border-radius:0;}.editor{display:block;position:relative;padding:0;border:1px solid #c0c6c9;border-top:0;background-color:#fff;}.editor textarea,
.editor iframe{width:100%;min-width:100%;height:550px;border:0;box-shadow:0;border-radius:0;}.editor textarea{padding:0;}.edit-entry #title-field{padding:0;}.edit-entry #permalink-field .field-content{color:#7b7c7d;}.sort-enabled{margin-bottom:15px;padding:0;border:1px solid #c0c6c9;background-color:#fff;border-radius:5px;-moz-border-radius:5px;}.sort-enabled:hover{border:1px solid #adadad;border-top-color:#cfd0d0;border-left-color:#cfd0d0;}.sort-enabled .field-header{margin-bottom:10px;padding:5px 10px;border-bottom:1px solid #fff;background-image:url(../images/sort_handle.png);background-repeat:no-repeat;background-position:5px center;border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius:5px 5px 0 0;}.sort-enabled .field-header:hover{cursor:move;}.sort-enabled .field-header label{margin-left:20px;}.sort-enabled .field-content{padding:0 10px 10px;}.placeholder{margin-bottom:15px;border:1px dashed #c0c6c9;background-color:#fbfbfb;}#template-editor-toolbar{text-align:right;}#textarea-enclosure{border:solid #c0c6c9;border-width:0 1px 1px;background-color:#fff;-moz-border-radius:0 0 3px 3px;border-bottom-radius:3px;}.button.command-highlight-on,
.button.command-highlight-off{margin:0;background-image:url(../images/buttons/toolbar/toggle-highlight.gif);}.button.command-highlight-on:hover,
.button.command-highlight-off:hover{background-image:url(../images/buttons/toolbar/toggle-highlight-hover.gif);}.button.command-highlight-on.active,
.button.command-highlight-off.active{background-image:url(../images/buttons/toolbar/toggle-highlight-active.gif);}.button.command-highlight-off,
.button.command-highlight-off:hover{width:23px;border-left:1px solid #c0c6c9;background-position:-22px 0;}.button.toolbar .button-label{display:none;}.CodeMirror-gutter-text pre{padding:0.4em 0.3em 0 0;overflow:hidden;border-right:1px solid #dcdddd;color:#a3a3a2;text-align:right;font-family:monospace;}#tags-field{position:relative;height:auto;overflow:visible;}#tags-suggestion{position:relative;top:-1px;left:2px;width:100%;}#tags_completion{display:none;min-width:200px;max-width:100%;position:absolute;z-index:50;border:1px solid #c0c6c9;background-color:#f3f3f3;}#tags_completion div{padding:2px 5px;}#tags_completion .complete-highlight{color:#2b2b2b;background-color:#dcdddd;}#entry-status-widget{position:relative;}#entry-status-widget .status{position:absolute;top:7px;right:10px;}#edit-page #basename{width:180px;}#entry-publishing-widget .actions-bar{overflow:hidden;}#entry-publishing-widget .save-action,
#entry-publishing-widget .preview-action{float:left;width:115px;}#entry-publishing-widget .preview-action{float:right;}#entry-publishing-widget .actions-bar .button{width:100%;margin:0;}#entry-publishing-widget .delete-action{margin-top:5px;text-align:right;}#entry-publishing-widget a.delete{display:inline-block;height:20px;line-height:20px;padding-left:17px;background:transparent url(../images/delete.gif) left bottom no-repeat;color:#7b7c7d;}#entry-publishing-widget a.delete:hover{background-position:left top;color:#9e3d3f;}.edit-entry .date-time-fields .post-date{width:7em;}.edit-entry .date-time-fields .post-time{width:5.5em;}.date-time-fields .scheduled{margin:5px 0 0 0;}#category-field{margin:0;}.category-selector{max-width:600px;margin:0 0 30px;}.edit-entry .category-selector{margin-bottom:10px;}.category-selector a{display:inline-block;margin-right:2px;text-decoration:none;}.category-selector-header{padding:0 0 5px;text-align:right;}.category-selector-list{height:120px;padding:3px;border:1px solid #c0c6c9;background:#fff;overflow:auto;overflow-x:hidden;clear:both;}.category-selector-list .list-item{clear:both;margin-bottom:2px;padding:1px 2px 1px 0;}.category-selector-list .list-item label{display:inline-block;margin-left:5px;overflow:hidden;white-space:nowrap;}.list-item-hover{background:#dcdddd;}.add-category-new-link{float:right;width:9px;height:9px;margin-top:3px;}.list-item-hover .add-category-new-link{background:url(../images/status_icons/create.gif) no-repeat left center;}.add-category-save-link{width:9px;height:9px;margin-left:4px;background:url(../images/status_icons/create.gif) no-repeat left center;}.add-category-cancel-link{width:9px;height:9px;margin-left:4px;background:url(../images/status_icons/error.gif) no-repeat left center;}.add-category-new-parent-link{padding-left:11px;background:url(../images/status_icons/create.gif) no-repeat left center;}.add-category-new-link span,
.add-category-save-link span,
.add-category-cancel-link span{display:none;}.add-category-form{white-space:nowrap;}.category-selector .add-category-form .add-category-input{width:80%;margin:3px 0 5px 2px;}.category-selector #add-category-form .add-category-input{margin-left:0;}.add-category-checkbox{margin-left:2px;}.category-toggle-link{position:absolute;top:5px;right:10px;}.edit-page .add-category-toggle-link{position:static;}#category-list{margin-top:4px;}#category-list strong{padding-left:13px;background:url(../images/status_icons/primary.png) no-repeat 0 50%;}#category-list a{text-decoration:none;}#category-list a.primary{padding-left:13px;color:#5c909b;}#category-list .focus a.primary{background:url(../images/status_icons/primary-disabled.png) no-repeat 0 50%;}#category-list .delete{padding-right:9px;}#category-list .focus .delete{background:url(../images/status_icons/close-disabled.gif) no-repeat right center;}#category-list .focus .delete:hover{background:url(../images/status_icons/close.gif) no-repeat right center;}#category-list .delete span{display:none;}.add-new-category-link{float:right;padding-left:11px;background:url(../images/status_icons/create.gif) no-repeat left center;position:relative;right:2px;top:9px;}.edit-page .add-new-category-link{float:none;position:static;}.change-folder-link{padding-left:11px;background:url(../images/status_icons/create.gif) no-repeat left center;}#allow-feedback-field li{position:relative;}.feedback-count{position:absolute;right:0;}.comments-link a,
.pings-link a{display:inline-block;min-height:18px;padding-left:20px;background-position:left center;background-repeat:no-repeat;}.comments-link a{background-image:url(../images/nav_icons/color/comments.gif);}.pings-link a{background-image:url(../images/nav_icons/color/trackbacks.gif);}#ping-urls-field{margin-bottom:0;}#asset_container .widget-content-inner{padding:0px 10px 10px;}.asset-list-header{margin-bottom:5px;text-align:right;}.add-new-asset-link{padding-left:11px;background:url(../images/status_icons/create.gif) no-repeat left center;text-decoration:none;}ul#asset-list li{position:relative;padding:5px 0 0 18px;line-height:1.2;background-repeat:no-repeat;background-position:left center;}ul#asset-list li#empty-asset-list{padding-left:0;}ul#asset-list li a.asset-title{display:inline-block;width:180px;overflow:hidden;text-overflow:ellipsis;}ul#asset-list li a.remove-asset{position:absolute;top:5px;right:0;}ul#asset-list li img.list-image{position:absolute;z-index:100;left:-115px;top:-5px;padding:5px;background-color:#7b7c7d;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;}ul#asset-list .asset-type-file{background-image:url(../images/asset/file.gif);}ul#asset-list .asset-type-image{background-image:url(../images/asset/image.gif);}ul#asset-list .asset-type-audio{background-image:url(../images/asset/audio.gif);}ul#asset-list .asset-type-video{background-image:url(../images/asset/video.gif);}#asset_details{margin-bottom:30px;}.new-asset #new_entry_prefs{margin-bottom:20px;}.settings-screen a#increase-threshold,
.settings-screen a#decrease-threshold{color:#383c3c;text-decoration:none;vertical-align:text-top;}.edit-comment .commenter-actions a{white-space:nowrap;}.edit-comment .commenter-detail-link{text-decoration:none;}.edit-comment .commenter-trust,
.edit-comment .commenter-ban,
.edit-comment .commenter-neutral{font-size:70%;}.edit-comment .commenter-trust{border-color:#88cb7f;background-color:#d6e9ca;background:-webkit-gradient(linear, left top, left bottom, from(#d6e9ca), to(#98d98e));background:-moz-linear-gradient(top, #d6e9ca 0%, #98d98e 100%);}.edit-comment .commenter-trust:hover{border-color:#77c46d;background-color:#fdf7f8;background:-webkit-gradient(linear, left top, left bottom, from(#e4f0dc), to(#a9dfa1));background:-moz-linear-gradient(top, #e4f0dc 0%, #a9dfa1 100%);}.edit-comment .commenter-trust:active{background-color:#f6bfbc;background:-webkit-gradient(linear, left top, left bottom, from(#98d98e), to(#d6e9ca));background:-moz-linear-gradient(top, #98d98e 0%, #d6e9ca 100%);}.edit-comment .commenter-ban{border-color:#f2a0a1;background-color:#fdeff2;background:-webkit-gradient(linear, left top, left bottom, from(#fdeff2), to(#f6bfbc));background:-moz-linear-gradient(top, #fdeff2 0%, #f6bfbc 100%);}.edit-comment .commenter-ban:hover{border-color:#ef8a8b;background-color:#fdf7f8;background:-webkit-gradient(linear, left top, left bottom, from(#fdf7f8), to(#f9d4d2));background:-moz-linear-gradient(top, #fdf7f8 0%, #f9d4d2 100%);}.edit-comment .commenter-ban:active{background-color:#f6bfbc;background:-webkit-gradient(linear, left top, left bottom, from(#f6bfbc), to(#fdeff2));background:-moz-linear-gradient(top, #f6bfbc 0%, #fdeff2 100%);}.edit-template #title-field{padding:0;}#template-body-actions{padding:4px 8px;border:1px solid #c0c6c9;border-bottom:none;background:#f3f3f3;}.edit-template th.archive-delete div{height:11px;background:url('../images/nav_icons/mini/delete.gif') no-repeat center center;}.edit-template th.archive-delete span{display:none;}.edit-template .delete-archive-link{display:inline-block;width:11px;height:11px;background:url('../images/nav_icons/mini/delete.gif') no-repeat center center;}.edit-template .delete-archive-link span{display:none;}.templatemap-listing-table .tmpl-path,
.templatemap-listing-table .tmpl-path-custom,
.templatemap-listing-table #build-type{width:100%;}.templatemap-listing-table .publish-options{width:20%;}#server_side_include-field .field-content,
#caching-field .field-content{margin:10px 0 0 15px;}#template-options{position:relative;margin-bottom:10px;padding:1px 10px;border-radius:5px;background-color:#dcdddd;border-radius:5px;-moz-border-radius:5px;}#template-options-header{overflow:hidden;}.active #template-options-header{margin-bottom:10px;}.template-options-toggle{float:left;height:30px;line-height:30px;margin:0;font-weight:bold;}.template-options-toggle a{color:#2b2b2b;}.template-options-summary{float:right;height:30px;line-height:30px;color:#7b7c7d;font-size:90%;}.active .template-options-summary,
#template-options-content{display:none;}.active #template-options-content{display:block;}#archive_mapping-field p{margin-bottom:3px;}#template-options #templatemap-listing{margin-bottom:5px;}#template-options #templatemap-listing-table tr.last-child td.first-child{border-bottm-left-radius:5px;-moz-border-radius:0 0 0 5px;}#template-options #templatemap-listing-table tr.last-child td.last-child{border-bottm-right-radius:5px;-moz-border-radius:0 0 5px 0;}#caching-field ul ul{margin-left:1.5em;}#caching-field li{margin-bottom:.5em;}#caching-field li li{display:inline-block;width:30%;margin:0.5em 0 0;}#cache-time-value,
#cache-time-unit{vertical-align:middle;}#cache-events{margin-top:3px;}#widget-manager{margin:15px 0;}.widget-item{margin-bottom:10px;cursor:move;box-shadow:0 1px 0 #fff;-webkit-box-shadow:0 1px 0 #fff;-moz-box-shadow:0 1px 0 #fff;}#available-column-items,
#installed-column-items{min-height:38px;}#available-widgets{margin:0 10px 0 0;}#installed-widgets{margin:0 0 0 10px;background-color:#f6f6f6;}#available-widgets .widget-content,
#installed-widgets .widget-content{padding-bottom:0;}#installed-widgets > .widget-header{background-color:#adadad;background:-webkit-gradient(linear, left top, left bottom, from(#adadad), to(#7b7c7d));background:-moz-linear-gradient(top, #adadad 0%, #7b7c7d 100%);color:#fffffc;}.asset-preview{margin-bottom:30px;}.asset-preview-thumb .thumbnail{display:inline-block;}.asset-preview-thumb img{border:0;}.edit-asset .asset-metadata{overflow:hidden;}.edit-asset .asset-info{clear:both;}#related-assets .asset{overflow:hidden;clear:left;margin-bottom:10px;padding-bottom:5px;}#related-assets .asset.last-child{margin-bottom:0;padding-bottom:0;}.edit-asset .actions-bar{clear:both;}.preview-content{margin:1.2em 0;}.preview-title,
.preview-body,
.preview-more{margin:30px 0;line-height:1.5;}.preview-title{font-size:130%;font-weight:bold;}.preview-screen{overflow:hidden;}.preview-layout{width:100%;min-width:900px;height:100%;margin:0;padding:0;border-collapse:collapse;}.preview-control-strip{position:relative;padding:1px 0;border-bottom:1px solid #dcdddd;background-color:#2b2b2b;}.preview-label{margin:10px 20px 20px;text-align:right;color:#f8fbf8;}.preview-screen .actions-bar{margin:0 20px 10px;}.preview-screen .preview-content{height:100%;margin:0;padding:0;}.preview-screen .preview-content iframe{width:100%;height:100%;border:0;}#system-check iframe{width:758px;height:400px;}#system-check .field{padding-bottom:0;border-bottom:0;}.help-link{display:none;}#formatting-help-link{display:inline;text-align:center;padding:0 3px;border:1px solid #7b7c7d;margin:0 3px 0 0;color:#7b7c7d;background-color:#dcdddd;font-weight:bold;text-decoration:none;}#formatting-help-link:hover{background-color:#7b7c7d;color:#fff;}#formatting-help-link.disabled{display:none;}#has-license-field p{margin:5px 0 0;}#has-license-field .actions-link{display:block;margin-top:5px;}.content-path{margin-bottom:10px;font-weight:bold;}.path-text{color:#7b7c7d;}input#system_debug_mode,
input#system_performance_logging_threshold{width:4em;text-align:center;}#setting-auth-status-field li ul{margin:0.5em 0 1.5em 2em;}#list-plugins .plugin .plugin-status a:link,
#list-plugins .plugin .plugin-name a:link,
#list-plugins .plugin .plugin-tabs a:link,
#list-plugins .plugin .plugin-status a:visited,
#list-plugins .plugin .plugin-name a:visited,
#list-plugins .plugin .plugin-tabs a:visited{color:#2b2b2b;text-decoration:none;}#list-plugins .plugin-group{margin-bottom:25px;}#list-plugins .plugin-group-name{margin:0 0 10px;}#list-plugins .plugin{margin-bottom:-1px;border:1px solid #c0c6c9;background-color:#fff;}#list-plugins .plugin.first-child{border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius:5px 5px 0 0;}#list-plugins .plugin.last-child{border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;}#list-plugins .plugin:hover,
#list-plugins .plugin-expanded{background-color:#f9f9f9;}#list-plugins .plugin-header{position:relative;}#list-plugins .plugin-name{border:none;margin:0;font-size:110%;}#list-plugins .plugin-name a,
#list-plugins .plugin-name .plugin-name-disabled{display:block;padding:10px 10px 10px 35px;background:url(../images/plugin-error.gif) no-repeat 10px 10px;outline:0;}#list-plugins .plugin-name a:hover{display:block;}#list-plugins .plugin-status{position:absolute;top:10px;right:10px;}#list-plugins .plugin-status a.button{margin:-3px 0 0 5px;text-align:center;min-width:45px;}#list-plugins .plugin-content{display:none;}#list-plugins .plugin-expanded .plugin-content{display:block;margin:0 10px 10px;}#list-plugins .plugin-tabs-list li{border:0;margin:0 0 2px;background-color:transparent;}#list-plugins .plugin-tabs-list li.ui-tabs-selected{border-bottom:3px solid #7b7c7d;background-color:transparent;}#list-plugins .plugin-tabs-list li a{padding:0 10px 0 23px;background-position:10px center;}#list-plugins .plugin-metadata-list{margin:0;}#list-plugins .plugin-metadata-list li{display:inline;margin-right:10px;}#list-plugins .setting-advanced{display:none;margin:10px 0 20px 1.2em;}#list-plugins .config li ul{margin:10px 0 0 1.2em;}#list-plugins #plugin_control .actions-bar{text-align:center;}#list-plugins #plugin_control .actions-bar button{margin:0;}#list-themes .theme-group{margin-bottom:25px;}#list-themes .theme-group-name{margin:0 0 10px;}#list-themes .theme{position:relative;clear:both;overflow:auto;margin-bottom:-1px;padding:10px;border:1px solid #c0c6c9;background-color:#fff;}#list-themes .theme.first-child{border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius:5px 5px 0 0;}#list-themes .theme.last-child{border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;}#list-themes .theme:hover,
#list-themes .theme-expanded{background-color:#f9f9f9;}#list-themes .theme-status{position:absolute;top:10px;right:10px;}#list-themes .theme-status .button{margin:0 0 0 0.5em;}#list-themes .theme-status .alert-warning a{color:#2b2b2b;}#list-themes .theme .picture.small{margin-bottom:0;}#list-themes .theme-meta{margin-left:135px;}#list-themes .theme-title{margin:0 0 3px;font-size:110%;}#list-themes .theme-author{margin:5px 0 10px;font-size:90%;}#list-themes .description{margin:0;font-size:90%;}#list-themes .theme-tabs-list li{border:0;margin:0 0 2px;background-color:transparent;}#list-themes .theme-tabs-list li.ui-tabs-selected{border-bottom:3px solid #7b7c7d;background-color:transparent;}#list-themes .theme-tabs-list li a{padding:0 10px;background-position:10px center;}#list-themes .error-text{margin:10px 0 0;}#list-themes .theme-details{display:none;clear:both;padding-top:20px;color:#2b2b2b;}#list-themes .theme-expanded .theme-details{display:block;}#list-themes .theme-info ul{margin:10px 0 10px 1.5em;}#list-themes .theme-info li{list-style-type:disc;}#list-themes .error-text a,
#list-themes .theme-errors li{color:#f39800;}#new_user_theme_thumb{margin-bottom:5px;}#new_user_theme_thumb img{border:1px solid #c0c6c9;}#select-personal-blog-theme .theme{position:relative;margin-bottom:-1px;border:1px solid #c0c6c9;overflow:hidden;background-color:white;}#select-personal-blog-theme .theme .theme-thumbnail{margin:15px;}#select-personal-blog-theme .theme .theme-meta{margin:15px 0 15px 135px;}.exception{height:100px;margin:5px 0 0;font-family:monospace;font-size:95%;background-color:#f3f3f3;color:#7b7c7d;}.edit-author #system_permissions-field li{display:inline-block;width:225px;}.edit-author #system_permissions-field li label{white-space:nowrap;}.progress-log{height:300px;margin:15px 0 10px;padding:10px;border:1px solid #c0c6c9;overflow:auto;background-color:#fff;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;}#backup-files{padding-left:1.5em;}#backup-files .list-item{list-style-type:disc;}#template_set h3{margin-bottom:5px;}#template_set .listing{margin-bottom:30px;}.template-group{position:relative;margin-bottom:10px;}.template-group-header{position:relative;}.template-group-header h3{display:inline-block;margin:0;text-shadow:none;}.template-group-header h3 a{color:#2b2b2b;}.template-group-summary{position:absolute;top:0;right:0;color:#888;text-align:right;width:400px;}.template-group-content table{margin-bottom:20px;}.template-group-content .output-file{width:60%;}div.template-group-content{display:none;}div.template-group-content.active{display:block;}#default_categories-table .display-name{width:40%;}#default_folders-table .display-name{width:35%;}.search-replace .ui-tabs-nav{margin-bottom:0;}.search-replace #search-field,
.search-replace #search-alt-field,
.search-replace #replace-field{padding:0;}.search-replace #search-bar-advanced-search{margin-bottom:10px;}.search-replace .advanced-options{margin:0;border:1px solid #adadad;border-top-color:#cfd0d0;border-left-color:#cfd0d0;background-color:#fff;}#search-bar .actions-bar{margin:20px 0 10px;}.search-replace .listing{margin-top:30px;}.display-options{margin-bottom:10px;text-align:right;}.display-options .toggle-link{position:relative;padding:0.3em 25px 0.3em 0.5em;border:1px solid #c0c6c9;background:#f3f3f3;border-radius:5px;-moz-border-radius:5px;text-decoration:none;}.display-options.active .toggle-link{border-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0;-moz-border-radius:5px 5px 0 0;}.display-options .toggle-button{width:18px;border-top-right-radius:5px;border-bottom-right-radius:5px;-moz-border-radius:0 3px 3px 0;}.display-options.active .toggle-button{border-bottom-right-radius:0;-moz-border-radius:0 5px 0 0;}.display-options-detail{display:none;margin-bottom:5px;padding:10px 10px 0;border:1px solid #c0c6c9;text-align:left;border-radius:5px;border-top-right-radius:0;-moz-border-radius:5px 0 5px 5px;}#footer{border-top:1px solid #c0c6c9;padding:8px 0 1px;background-color:#dcdddd;font-size:85%;}#footer a{color:#7b7c7d;}#footer a:hover,
#footer a:active{color:#2b2b2b;}#footer .inline-nav{margin:0 20px 10px;white-space:nowrap;}#footer .inline-nav li{display:inline;border:0;border-left:2px solid #9ea1a3;padding:0 7px;}#footer .inline-nav li.first-child{border:none;padding-left:0;}#version,
#copyright{margin-left:20px;}.mt-beta #brand{background-image:url(../images/beta_icons/beta_icon.png);background-position:195px center;background-repeat:no-repeat;}.mt-beta #brand span.tips{left:240px;}.mt-beta #container{padding-bottom:180px;}.mt-beta #footer{padding-top:0;}.mt-beta #footer #msg-beta{margin-bottom:10px;border-bottom:1px solid #c0c6c9;background-color:#fef263;text-align:center;}.mt-beta #footer #msg-beta p{display:inline-block;margin:0 auto;padding:0.8em 0 0.8em 45px;background:transparent url(../images/beta_icons/beta_icon.png) left center no-repeat;text-align:left;}.process-msg{position:relative;overflow:auto;overflow-x:auto;margin:10px 0;border:1px solid #ccc;padding:10px;background-color:#fafafa;height:300px;}fieldset{margin-bottom:3em;}.field{overflow:hidden;padding:0;margin:0 0 15px;}.field-left-label .field-header{float:left;width:11em;margin-left:1em;padding:0.5em 0;text-align:right;}.field-left-label .field-content{margin-left:13.5em;padding:0.5em 0;}.field-top-label .field-header{margin-bottom:5px;}.field-top-label .field-header label{vertical-align:baseline;}.field-top-label .field-content{margin:3px;}.field-inline,
.field-inline .field-header,
.field-inline .field-content{display:inline;}.field-inline{margin-right:10px;}.field-content-text{padding-top:5px;}.field-no-header .field-header{display:none;}.field-no-header .field-content{margin-left:0;}.field .hint{margin:5px 0 0;font-size:90%;}.field-top-label .hint{width:100%;}.text{width:75%;padding:0.2em 0.25em;outline:0;border:1px solid #dcdddd;border-top-color:#adadad;border-left-color:#adadad;background-color:#fbfbfb;font-size:13px;vertical-align:middle;box-shadow:0 1px 0 #f3f3f3;-webkit-box-shadow:0 1px 0 #f3f3f3;-moz-box-shadow:0 1px 0 #f3f3f3;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-radius:3px;-moz-border-radius:3px;}.edit-screen .text{width:100%;}.text.short,
.text.password{width:180px;}.text.med{width:50%;}.text.full{width:100%;max-width:100%;}.text.num,
.text.days{width:4em;text-align:center;}.text.date{width:7.5em;}.text.time,
.text.min{width:5.5em;}.text.datetime{width:10em;}.text.path{width:12em;margin:0 0.2em;}.text.low{height:5em;overflow:auto;}.text.high{height:12em;overflow:auto;}.text.query{font-size:150%;}.text.title{font-size:200%;}.text.error{border-color:#c53d43;background-color:#f2b1b1;}.text:focus{background-color:#fff;outline:0;}.text.disabled{border-color:#dcdddd;background-color:#f3f3f3;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}.text.readonly{border-color:#dcdddd;background-color:#f3f3f3 ! important;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}select{height:1.9em;border:1px solid #c0c6c9;font-size:12px;box-shadow:0 1px 0 #f3f3f3;white-space:nowrap;-webkit-box-shadow:0 1px 0 #f3f3f3;-moz-box-shadow:0 1px 0 #f3f3f3;}.col select{width:100%;}select.error{border-color:#c53d43 ! important;}#notification-listing-table input[type="text"],
.batch-edit input[type="text"]{width:100%;}#notification-listing-table .url input[type="text"]{width:60%;}.button{cursor:pointer;overflow:visible;display:inline-block;outline:none;margin-right:5px;padding:3px 0.5em;border:1px solid #c0c6c9;line-height:1.2;background-color:#f3f3f3;background:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));background:-moz-linear-gradient(top, #f3f3f3 0%, #dcdddd 100%);color:#2b2b2b;font-size:12px;font-family:Helvetica, "Helvetica Neue", Arial, sans-serif;text-align:center;text-decoration:none;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-radius:3px;-moz-border-radius:3px;-webkit-box-shadow:0 1px 0 #f3f3f3;-moz-box-shadow:0 1px 0 #f3f3f3;box-shadow:0 1px 0 #f3f3f3;}.button:hover{border-color:#7b7c7d;color:#2b2b2b;background-color:#fafafa;background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9eaea));background:-moz-linear-gradient(top, #fafafa 0%, #e9eaea 100%);}.button:active{background-color:#dcdddd;background:-webkit-gradient(linear, left top, left bottom, from(#dcdddd), to(#f3f3f3));background:-moz-linear-gradient(top, #dcdddd 0%, #f3f3f3 100%);}.button.action{padding:0.25em 0.8em 0.2em;border-color:#7b7c7d;background-color:#adadad;background:-webkit-gradient(linear, left top, left bottom, from(#adadad), to(#7b7c7d));background:-moz-linear-gradient(top, #adadad 0%, #7b7c7d 100%);color:#fffffc;text-shadow:#383c3c 1px 1px 1px;font-size:14px;font-weight:bold;}.button.action:hover{border-color:#595857;background-color:#bababa;background:-webkit-gradient(linear, left top, left bottom, from(#bababa), to(#88898a));background:-moz-linear-gradient(top, #bababa 0%, #88898a 100%);}.button.action:active{background-color:#7d7c7d;background:-webkit-gradient(linear, left top, left bottom, from(#7d7c7d), to(#adadad));background:-moz-linear-gradient(top, #7d7c7d 0%, #adadad 100%);}.button.primary{border-color:#165e83;background-color:#2a83a2;background:-webkit-gradient(linear, left top, left bottom, from(#2a83a2), to(#165e83));background:-moz-linear-gradient(top, #2a83a2 0%, #165e83 100%);}.button.primary:hover{border-color:#274a78;background-color:#2f93b6;background:-webkit-gradient(linear, left top, left bottom, from(#2f93b6), to(#1a6e99));background:-moz-linear-gradient(top, #2f93b6 0%, #1a6e99 100%);}.button.primary:active{background-color:#165e83;background:-webkit-gradient(linear, left top, left bottom, from(#165e83), to(#2a83a2));background:-moz-linear-gradient(top, #165e83 0%, #2a83a2 100%);}.button.disabled,
.button.action.disabled,
.button.primary.disabled{border-color:#c0c6c9 ! important;cursor:default ! important;background:#f3f3f3 ! important;text-shadow:none ! important;-webkit-box-shadow:none ! important;-moz-box-shadow:none ! important;box-shadow:none ! important;}.mt-edit-field-button{margin-left:0.5em;}.inline-editor .button,
.inline-editor .ui-button{margin:0 0 0 5px;}.split .button{float:left;min-width:5.5em;height:22px;margin:0;padding:0 0.6em;line-height:22px;font-size:13px;font-weight:bold;-moz-border-radius:3px 0 0 3px;border-top-right-radius:0;border-bottom-right-radius:0;}.split .toggle-button{display:block;float:left;position:relative;width:20px;height:20px;margin:0;padding:0;line-height:20px;border-width:1px;border-style:solid;-moz-border-radius:0 3px 3px 0;border-radius:3px;border-top-left-radius:0;border-bottom-left-radius:0;}.split .detail{display:none;width:99%;font-size:90%;}.ui-helper-hidden-accessible{position:absolute;}#alignment .ui-button{width:50px;margin:0;}.listing{margin-bottom:50px;}#spam-log-listing{margin-bottom:0;}#filter-header,
.listing-table-block{position:relative;}#listing-table-overlay{z-index:400;width:100%;height:100%;background-color:#fbfbfb;border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;}.listing-table{width:100%;margin:0 auto;border:1px solid #c0c6c9;table-layout:fixed;background-color:#fff;border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;}.col{width:13%;padding:7px 8px;border:solid #fff;border-width:1px 0 0;text-align:left;vertical-align:top;word-wrap:break-word;}tbody tr:first-child .col{border:0;}.col.head{padding:0;border-color:#c0c6c9;border-width:0 0 1px 1px;line-height:1;background-color:#f3f3f3;background:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));background:-moz-linear-gradient(top, #f3f3f3 0%, #dcdddd 100%);font-size:85%;font-weight:bold;text-shadow:rgb(248,251,248) 0 1px 0;vertical-align:middle;word-wrap:normal;}.col.num{width:10%;}.col.date{width:12%;}.col.id{width:4.5em;}.col.entry,
.col.target{width:25%;}.col.cb,
.col.si{width:2.6em;padding-left:0;padding-right:0;text-align:center;}.col.view{width:4em;}.col.output-file{width:40%;}.col.publishing-method{width:17%;}.col.primary{width:auto;min-width:15%;}thead .col.head.first-child{border-top-left-radius:5px;-moz-border-radius:5px 0 0 0;}thead .col.head.last-child{border-top-right-radius:5px;-moz-border-radius:0 5px 0 0;}.has-filter thead .col.head{border-radius:0;-moz-border-radius:0;}tfoot .col.head{border-width:1px 0 0 1px;}.col.head.first-child,
.col.head.first-visible-child{border-left:0;}.col.head a{display:block;position:relative;width:100%;color:#2b2b2b;text-decoration:none;}.col.head a:hover{background-color:#fafafa;background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9eaea));background:-moz-linear-gradient(top, #fafafa 0%, #e9eaea 100%);}.col.head.sorted,
.col.head.sorted a:hover{background-color:#dcdddd;background:-webkit-gradient(linear, left top, left bottom, from(#dcdddd), to(#f3f3f3));background:-moz-linear-gradient(top, #dcdddd 0%, #f3f3f3 100%);}.col-label{display:block;width:80%;margin-left:5px;padding:7px 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}.col.head a:hover .col-label{color:#2b2b2b;}.sorted .col-label{color:#2b2b2b;}.sm{position:absolute;top:50%;right:5px;width:7px;height:10px;margin-top:-5px;background:transparent center no-repeat;background-image:url(../images/arrow/arrow-sort-both.gif);}.sm.asc{background-image:url(../images/arrow/arrow-sort-top.gif);}.sm.desc{background-image:url(../images/arrow/arrow-sort-bottom.gif);}.col .description{margin:0.75em 0 0;font-size:90%;}.col .user-info{overflow:hidden;}.col .user-info-item{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}.col .content-text{overflow:hidden;}.col .icon{display:inline-block;min-width:15px;margin-right:3px;text-align:center;}.col .comment.status{float:left;margin-right:5px;}.col .picture{margin-bottom:0;}.col .userpic .icon{margin:0;}.col .item-ctrl .action-link{margin-right:5px;}.col .role-item{list-style-type:disc;list-style-position:inside;margin:0 0 0 1.2em;}.col .archive-path-item{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}.col .log-metadata pre{white-space:normal;}.list-actions{float:left;}.listing .actions-bar{min-height:22px;}.listing .button-actions,
.listing .plugin-actions{float:left;margin:8px 10px 8px 0;}.pagination,
.indicator{font-family:Arial, sans-serif;font-size:12px;}.pagination,
.actions-bar .indicator{float:right;height:22px;margin:8px 0;line-height:22px;}.actions-bar .indicator img{margin-bottom:0.2em;vertical-align:bottom;}.pagenav,
.current-rows{margin:0 0.25em;}.current-rows{font-weight:bold;}.legacy.listing-table{border-radius:5px;-moz-border-radius:5px;}.col.asset-thumbnail{width:6em;}.col.asset-thumbnail .thumbnail{margin:0 auto;}.asset-no-thumbnail .thumbnail{border:0;}.col.asset-type-video .thumbnail{background:transparent url(../images/asset/video-45.png) no-repeat;}.col.asset-type-file .thumbnail{background:transparent url(../images/asset/file-45.png) no-repeat;}.col.asset-type-audio .thumbnail{background:transparent url(../images/asset/audio-45.png) no-repeat;}.filter-block{border:solid #c0c6c9;border-width:1px 1px 0;background-color:#f3f3f3;border-top-right-radius:5px;border-top-left-radius:5px;-moz-border-radius:5px 5px 0 0;}.filter-header #allpass-filter{display:inline-block;margin-left:8px;color:#c53d43;font-size:87%;}.filter-header .current-filter{background-image:url(../images/filter-list.png);text-decoration:none;}.filter-header .current-filter:hover{border-bottom:0;}#filter-detail{border:solid #c0c6c9;border-width:1px 0 0;}.filteritem{position:relative;margin:0 10px;border:1px solid #adadad;border-top-color:#cfd0d0;border-left-color:#cfd0d0;background-color:#fff;}.filteritem .item-content{padding:10px;}.filteritem .item-ctrl{margin-left:10px;}#dialog_filter{padding:0 0 10px 10px;}#dialog_filter_content{max-height:420px;padding-top:0;overflow:auto;}#dialog_filter .filter-list-block{margin-top:15px;}#dialog_filter .filter-list-label{margin:0 0 5px;}#dialog_filter .filter{margin:0 10px 1px 0;padding:0 5px;}#dialog_filter .filter:hover{background-color:#e7e7eb;}#dialog_filter .filter.edit-mode{padding:0;}#dialog_filter .filter.edit-mode:hover{background-color:transparent;}#dialog_filter .apply-link,
#dialog_filter .item-ctrl,
#dialog_filter .indicator{height:23px;line-height:23px;}#dialog_filter .apply-link{display:block;text-decoration:none;}.filter-label .apply-link{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}#dialog_filter .item-ctrl{display:none;text-align:right;}#dialog_filter .filter:hover .item-ctrl{display:inline-block;}#dialog_filter .edit-mode .item-ctrl{display:inline-block;text-align:left;}#dialog_filter .item-ctrl a{margin-left:5px;}#dialog_filter .tool-link{margin:0 0 0 0.5em;vertical-align:top;}#dialog_filter .rename-link{color:#7b7c7d;}#dialog_filter .indicator{margin-left:5px;}.col .asset-preview{display:none;margin-top:10px;}#modal-search{margin-bottom:10px;}.listing.selector{position:relative;margin-bottom:30px;padding-bottom:25px;}.panel-header{position:relative;padding:10px 0;}.selected-items{min-height:30px;}#listing-footer{margin-top:30px;border:1px solid #c0c6c9;background-color:#f3f3f3;border-radius:5px;-moz-border-radius:5px;}.footer-link-item{display:inline-block;margin:0 15px 0 0;}.sortable-header{border:solid #c0c6c9;border-width:1px;background-color:#dcdddd;border-top-right-radius:5px;border-top-left-radius:5px;-moz-border-radius:5px 5px 0 0;}#itemlist{width:200px;}#root{min-height:250px;padding:15px;border:solid #c0c6c9;border-width:0 1px 1px;background-color:#f3f3f3;border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;}.sortable-item,
.add-form{position:relative;border:1px solid #adadad;border-top-color:#cfd0d0;border-left-color:#cfd0d0;background-color:#fff;}.sortable-item:after,
.add-form:after{content:'';display:block;clear:both;}.sortable-item{padding:10px;}.sortable-item .item-label,
.sortable-item .item-basename,
.sortable-item .with,
.sortable-item .item-ctrl,
.sortable-item .count,
.sortable-item .with{float:left;height:22px;line-height:22px;}.sortable-item .item-label,
.sortable-item .item-basename{margin:0 5px 0 30px;}.sortable-item .item-basename{margin-left:3px;}.sortable-item .item-label,
.sortable-item .item-label a,
.sortable-item .item-basename-text{display:inline-block;max-width:18em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}.sortable-item .item-basename-text::before{content:"\0028";}.sortable-item .item-basename-text::after{content:"\0029";}.sortable-item .item-ctrl{display:none;margin-left:10px;}.sortable-item.on .item-ctrl{display:inline-block;}.sortable-item .count{float:right;}.sortable-item .with{padding:0 5px;background-color:#7b7c7d;color:#f3f3f3;border-radius:3px;}.edit-form .text{margin-right:5px;}#root .ui-state-highlight{position:relative;z-index:100;height:35px;margin:5px -10px;border-top:2px solid #adadad;}.sort-tab{display:block;position:absolute;top:0;left:0;width:35px;height:100%;background:transparent url(../images/sort_handle.png) center no-repeat;cursor:move ! important;}#root .target{position:relative;display:inline-block;height:100%;}#root .marker{position:absolute;top:-7px;right:-20px;width:20px;height:10px;background:transparent url(../images/arrow-target-mark.png) center bottom no-repeat;}body.has-dialog{overflow:hidden;}.mt-dialog-overlay{display:none;z-index:1100;width:100%;min-width:960px;height:200%;}#mt-dialog-iframe{border-radius:5px;-moz-border-radius:5px;}.mt-dialog,
.ui-dialog{position:absolute;border:1px solid #c0c6c9;background-color:#fffffc;border-radius:5px;-moz-border-radius:5px;box-shadow:0 3px 10px #2b2b2b;-webkit-box-shadow:0 3px 10px #2b2b2b;-moz-box-shadow:0 3px 10px #2b2b2b;}.mt-dialog{display:none;position:fixed;z-index:1101;top:30px;left:50%;width:680px;margin-left:-340px;}.mt-dialog span{display:none;}.ui-dialog.ui-draggable .ui-dialog-titlebar{cursor:move;}.dialog #container{width:100%;min-width:100%;margin:0 auto;}.mt-dialog img{position:absolute;top:50%;left:50%;margin:-20px 0 0 -20px;}.dialog .progress{position:absolute;top:1em;right:0;line-height:1;}.dialog .view-site-link{float:right;margin:4px 2px 0 4px;}.dialog .view-site-link img{background-image:url(../images/status_icons/view.gif);}.ui-dialog-titlebar{padding:10px;line-height:1.1;}.ui-dialog-buttonpane{padding:1px 10px;}.ui-dialog-title{font-size:125%;}.ui-dialog-titlebar-close{position:absolute;top:8px;right:8px;width:16px;height:16px;padding:1px;background-image:url(../images/widget/widget-icons.png);background-position:-32px 0;background-repeat:no-repeat;}.alert .ui-dialog-titlebar-close,
.save .ui-dialog-titlebar-close{display:none;}.ui-dialog-titlebar-close span{display:none;}.ui-dialog-content{padding:1px 10px 10px;overflow:auto;}.dialog .actions-bar{margin:50px 0 0;}.listing-panel-options{margin-bottom:50px;}#include_prefs{border:1px solid #c0c6c9;background-color:#f3f3f3;border-radius:5px;-moz-border-radius:5px;}#save_settings-field{background-color:#fff;margin:10px 0 0;padding:10px;}#alignment li{display:inline;}.dialog #comments-form #comment{height:120px;margin-bottom:20px;padding:8px;border:1px solid #c8c2be;overflow:auto;overflow-x:hidden;overflow-y:auto;background-color:#f3f3f3;border-radius:3px;-moz-border-radius:3px;}.dialog #comments-form #comment .comment-meta{color:#7b7c7d;margin-bottom:8px;padding-bottom:3px;border-bottom:1px solid #c8c2be;}.dialog #comments-form #comment .commenter-name,
.dialog #comments-form #comment .entry-title{font-weight:bold;}.dialog #comments-form #comment-reply-field #comment-reply{margin-bottom:30px;}.msg{position:relative;margin:10px 0;padding:0.5em 0.75em;line-height:1;border-radius:3px;-moz-border-radius:3px;}.msg.full{margin:0;border-radius:0;-moz-border-radius:0;}.msg-success{background-color:#cee4ae;}.msg-alert,
.msg-warning{background-color:#fef263;}.msg-error{background-color:#f6bfbc;}.msg-info{background-color:#e6eae3;}.msg-publishing{margin:15px 0 0;padding:0.8em 0 0.8em 25px;background:transparent url(../images/ani-rebuild.gif) left center no-repeat;}.msg-text{margin:0;}.close-link{position:absolute;top:50%;right:8px;margin-top:-8px;}.msg .detail{margin:10px 0 0;}p.zero-state{margin-bottom:0;}#is-generic-website{margin:0;padding:0.75em 0;border-bottom:1px solid #c8c2be;background-color:#F2F2B0;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;border-radius:0;}#is-generic-website p{margin:0 auto;padding:0 20px;font-size:95%;}#junk-message .junk-score{font-weight:bold;margin:0 0 0.5em;}.dialog-msg-error{display:block;}.validate-error{display:inline-block;line-height:1.3;margin-left:3px;padding:0.3em 0.5em;background-color:#2b2b2b;color:#f3f3f3;font-size:95%;font-weight:normal;opacity:0.8;border-bottom-left-radius:3px;border-bottom-right-radius:3px;-moz-border-radius:0 0 3px 3px;}.msg-balloon{margin:0;border-radius:3px;-moz-border-radius:3px;}.debug-panel{position:absolute;width:100%;border-top:1px solid #c8c2be;background-color:#f6bfbc;text-align:left;}.debug-panel h3{padding:5px;font-size:12px;margin:0;background-color:#ec6d71;color:#f8fbf8;text-shadow:none;}.debug-panel-inner{padding:5px;font-family:'Andale Mono', monospace;font-size:10px;max-height:200px;overflow:auto;}.debug-panel-inner li{margin:0;padding:0.2em 0.5em;white-space:pre;}.debug-panel-inner li:hover{background-color:#f2a0a1;}.hidden{display:none !important;}.visible{display:block;}.invisible{visibility:hidden;}.clickable{cursor:pointer;}.overflow-auto{overflow:auto;}.overflow-hidden{overflow:hidden;}.inline{display:inline;}.nowrap{white-space:nowrap;}.fl{float:left;}.fr{float:right;}.rall{border-radius:5px;-moz-border-radius:5px;}.rtop{border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius:5px 5px 0 0;}.rleft{border-top-left-radius:5px;border-top-left-radius:5px;-moz-border-radius:5px 0 5px 0;}.rright{border-top-right-radius:5px;border-top-right-radius:5px;-moz-border-radius:0 5px 0 5px;}.rbottom{border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;}.odd{background-color:#f9f9f9;}.selected{background-color:#dcdddd;}.highlight{background-color:#f8f4e6;}.disabled{color:#c0c6c9 ! important;}.code{font-family:monospace;}.icon16{display:inline-block;width:16px;height:0px;padding-top:16px;overflow:hidden;background-color:transparent;background-repeat:no-repeat;background-position:center;}.icon-delete{background-image:url(../images/status_icons/icon-delete.png);}.icon-plus{background-image:url(../images/status_icons/icon-plus.png);}.icon-minus{background-image:url(../images/status_icons/icon-minus.png);}.icon-remove{background-image:url(../images/status_icons/icon-remove.png);}.action-icon{border-radius:8px;-moz-border-radius:8px;vertical-align:middle;}.action-icon:hover{background-color:#c0c6c9;}.icon-left{padding-left:14px;background-repeat:no-repeat;background-position:left center;}.icon-right{padding-right:14px;background-repeat:no-repeat;background-position:right center;}.icon-mini-left{padding-left:12px;background-repeat:no-repeat;background-position:left center;}.icon-mini-right{padding-right:12px;background-repeat:no-repeat;background-position:right center;}.icon-left-wide{padding-left:18px;background-repeat:no-repeat;background-position:left center;}.icon-right-wide{padding-right:18px;background-repeat:no-repeat;background-position:right center;}.icon-left-xwide{padding-left:22px;background-repeat:no-repeat;background-position:left center;}.icon-right-xwide{padding-right:22px;background-repeat:no-repeat;background-position:right center;}.addnew{background-image:url(../images/status_icons/create.gif);}.icon-batch{background-image:url(../images/status_icons/batch.gif);}.icon-feed{background-image:url(../images/status_icons/feed.gif);}.icon-download{background-image:url(../images/status_icons/download.gif);}.icon-feed-disabled{background-image:url(../images/status_icons/feed-disabled.gif);}.icon-move{background-image:url(../images/status_icons/move.gif);}.icon-create{background-image:url(../images/status_icons/create.gif);}.icon-create-disabled{background-image:url(../images/status_icons/create-disabled.gif);}.icon-error{background-image:url(../images/status_icons/error.gif);}.icon-success{background-image:url(../images/status_icons/success.gif);}.icon-neutral{background-image:url(../images/status_icons/neutral.gif);}.icon-warning{background-image:url(../images/status_icons/warning.gif);}.icon-trusted{background-image:url(../images/status_icons/trusted.gif);}.icon-banned{background-image:url(../images/status_icons/banned.gif);}.icon-authenticated{background-image:url(../images/status_icons/authenticated.gif);}.icon-related{background-image:url(../images/status_icons/related.gif);}.icon-publish{background-image:url(../images/status_icons/success.gif);}.icon-draft{background-image:url(../images/status_icons/draft.gif);}.icon-future{background-image:url(../images/status_icons/future.gif);}.icon-pending{background-image:url(../images/status_icons/warning.gif);}.icon-share{background-image:url(../images/status_icons/share.gif);}.icon-spam{background-image:url(../images/status_icons/warning.gif);}.icon-spinner{background-image:url(../images/arrow/spinner-right.png);}.active .icon-spinner{background-image:url(../images/arrow/spinner-bottom.png);}.edit-template .global-tmpl{background-image:url(../images/template/global.png);}.edit-template .website-tmpl{background-image:url(../images/template/website.png);}.edit-template .blog-tmpl{background-image:url(../images/template/blog.png);}.edit-template .global-tmpl.error{background-image:url(../images/template/global-error.png);}.edit-template .error-tmpl.error{background-image:url(../images/template/global-error.png);}.edit-template .website-tmpl.error{background-image:url(../images/template/website-error.png);}.edit-template .blog-tmpl.error{background-image:url(../images/template/blog-error.png);}.edit-entry .stats-widget .icon-success{background-image:url(../images/status_icons/success-k.gif);}.edit-entry .stats-widget .icon-view{background-image:url(../images/status_icons/view-k.gif);}.edit-entry .stats-widget .icon-draft{background-image:url(../images/status_icons/draft-k.gif);}.edit-entry .stats-widget .icon-future{background-image:url(../images/status_icons/future-k.gif);}.edit-entry .stats-widget .icon-pending{background-image:url(../images/status_icons/warning-k.gif);}.edit-entry .stats-widget .icon-spam{background-image:url(../images/status_icons/warning-k.gif);}.icon-plugins{background-image:url(../images/nav_icons/color/plugins.gif);}.icon-search{background-image:url(../images/nav_icons/color/search.gif);}.icon-trackbacks{background-image:url(../images/nav_icons/color/trackbacks.gif);}.icon-comments{background-image:url(../images/nav_icons/color/comments.gif);}.icon-log{background-image:url(../images/nav_icons/color/log.gif);}.icon-import{background-image:url(../images/nav_icons/color/import.gif);}.icon-settings{background-image:url(../images/nav_icons/color/settings.gif);}.icon-entry{background-image:url(../images/nav_icons/color/entry.gif);}.icon-page{background-image:url(../images/nav_icons/color/page.gif);}.icon-user{background-image:url(../images/nav_icons/color/user.gif);}.icon-group{background-image:url(../images/nav_icons/color/group.gif);}.icon-align{background-position:left top;}.icon-align-none{background-image:url(../images/align_none.gif);}.icon-align-left{background-image:url(../images/align_left.gif);}.icon-align-center{background-image:url(../images/align_center.gif);}.icon-align-right{background-image:url(../images/align_right.gif);}.icon-plugin-action{background-image:url(../images/plugin-bullet.gif);}.icon-action{background-image:url(../images/action-bullet.gif);}.action-link-list .icon-action{background-image:url(../images/status_icons/action.png);}.icon-mini-view-site{background-image:url(../images/nav_icons/mini/view-site.gif);}.icon-mini-settings{background-image:url(../images/nav_icons/mini/settings.gif);}.icon-mini-delete{background-image:url(../images/nav_icons/mini/delete.gif);}.icon-mini-rebuild{background-image:url(../images/nav_icons/mini/rebuild.gif);}.icon-mini-dashboard{background-image:url(../images/nav_icons/mini/dashboard.gif);}.icon-mini-templates{background-image:url(../images/nav_icons/mini/templates.gif);}.icon-mini-comments{background-image:url(../images/nav_icons/mini/comments.gif);}.icon-mini-docs{background-image:url(../images/nav_icons/mini/docs.gif);}.icon-mini-trackbacks{background-image:url(../images/nav_icons/mini/trackbacks.gif);}.icon-mini-entries{background-image:url(../images/nav_icons/mini/entries.gif);}.icon-mini-new-entry{background-image:url(../images/nav_icons/mini/entry-new.gif);}.icon-mini-pages{background-image:url(../images/nav_icons/mini/pages.gif);}.icon-mini-new-page{background-image:url(../images/nav_icons/mini/page-new.gif);}.icon-mini-assets{background-image:url(../images/nav_icons/mini/assets.png);}.icon-mini-new-asset{background-image:url(../images/nav_icons/mini/asset-new.gif);}.icon-mini-delete span{display:none;}.si img,
.view img{background-repeat:no-repeat;background-position:center;}.listing .status-publish img{background-image:url(../images/status_icons/success.gif);}.listing .status-draft img{background-image:url(../images/status_icons/draft.gif);}.listing .status-future img{background-image:url(../images/status_icons/future.gif);}.listing .status-pending img{background-image:url(../images/status_icons/warning.gif);}.listing .status-spam img{background-image:url(../images/status_icons/warning.gif);}.listing .status-review img{background-image:url(../images/status_icons/warning.gif);}.listing .status-trusted img{background-image:url(../images/status_icons/trusted.gif);}.listing .status-banned img{background-image:url(../images/status_icons/banned.gif);}.listing .status-authenticated img{background-image:url(../images/status_icons/authenticated.gif);}.listing .user-status-enabled img{background-image:url(../images/status_icons/user-enabled.gif);}.listing .user-status-disabled img{background-image:url(../images/status_icons/user-disabled.gif);}.listing .user-status-pending img{background-image:url(../images/status_icons/user-pending.gif);}.listing .group-status-enabled img{background-image:url(../images/status_icons/group-enabled.gif);}.listing .group-status-disabled img{background-image:url(../images/status_icons/group-disabled.gif);}.listing .role-status-active img{background-image:url(../images/status_icons/role-active.gif);}.listing .role-status-inactive img{background-image:url(../images/status_icons/role-inactive.gif);}.listing .status-email img{background-image:url(../images/status_icons/email.gif);}.listing .status-link img{background-image:url(../images/status_icons/link.gif);}.listing .status-view img{background-image:url(../images/status_icons/view.gif);}.listing .status-unlinked img{background-image:url(../images/status_icons/neutral.gif);}.listing .status-linked img{background-image:url(../images/status_icons/success.gif);}.listing .status-uncached img{background-image:url(../images/status_icons/neutral.gif);}.listing .status-cached img{background-image:url(../images/status_icons/success.gif);}.listing .status-dynamic img{background-image:url(../images/status_icons/success.gif);}.listing .status-static img{background-image:url(../images/status_icons/neutral.gif);}.listing .status-rebuild img{background-image:url(../images/status_icons/success.gif);}.listing .status-norebuild img{background-image:url(../images/status_icons/neutral.gif);}.listing .status-enabled img{background-image:url(../images/status_icons/success.gif);}.listing .status-disabled img{background-image:url(../images/status_icons/neutral.gif);}.listing .status-missing img{background-image:url(../images/status_icons/warning.gif);}.asset-icon-doc{background-image:url(../images/filetype_icons/doc_lg.gif);}.asset-icon-eps{background-image:url(../images/filetype_icons/eps_lg.gif);}.asset-icon-fla{background-image:url(../images/filetype_icons/fla_lg.gif);}.asset-icon-gif{background-image:url(../images/filetype_icons/gif_lg.gif);}.asset-icon-jpg{background-image:url(../images/filetype_icons/jpg_lg.gif);}.asset-icon-mp3{background-image:url(../images/filetype_icons/mp3_lg.gif);}.asset-icon-mpg{background-image:url(../images/filetype_icons/mpeg_lg.gif);}.asset-icon-pdf{background-image:url(../images/filetype_icons/pdf_lg.gif);}.asset-icon-png{background-image:url(../images/filetype_icons/gif_lg.gif);}.asset-icon-ppt{background-image:url(../images/filetype_icons/ppt_lg.gif);}.asset-icon-psd{background-image:url(../images/filetype_icons/psd_lg.gif);}.asset-icon-txt{background-image:url(../images/filetype_icons/txt_lg.gif);}.asset-icon-xls{background-image:url(../images/filetype_icons/xls_lg.gif);}.asset-icon-zip{background-image:url(../images/filetype_icons/zip_lg.gif);}.listing .thumbnail img{background:none;}