/* Movable Type (r) (C) 2001-2012 Six Apart, Ltd. All Rights Reserved
 * This file is combined from multiple sources.  Consult the source files for their
 * respective licenses and copyrights.
 */body{margin:0;padding:0;line-height:1.2;}h1, h2, h3, h4, h5, h6{margin:0;padding:0;font-size:100%;font-weight:normal;}p{line-height:1.4;margin:0 0 1em;}pre{overflow:auto;max-height:500px;margin:0 auto;padding:0.8em;font-size:95%;}blockquote{clear:both;margin:2em auto;padding:1px 0.8em;}address{font-style:normal;}del{text-decoration:line-through;font-weight:normal !important;}ins{margin:1em 0 0.5em;padding:1px 0;}em{font-style:italic;}strong{font-weight:bold;}cite{font-size:90%;}pre em,
pre strong{margin:0;}abbr,
acronym{cursor:help;border-bottom:1px dotted;}code,
samp,
kbd,
var{font-family:monospace;font-size:100%;}sub,
sup{font-size:50%;}ul,
ol{margin:0;padding:0;}li{margin-bottom:0.5em;line-height:1.5;list-style-type:none;}dl{margin:2em 0;}dd{margin:0 0 0 1em;}form{margin:0;padding:0;}fieldset{margin:0;padding:0;border:0;}input,
label,
select,
button{vertical-align:middle;margin:0;}table{margin:0 auto 2.5em;font-size:100%;border-spacing:0;}caption{margin-bottom:0.2em;}th,
td{border-collapse:collapse;}img{vertical-align:middle;}a img{border:0;}body{color:#2b2b2b;background-color:#f3f3f3;font-family:Helvetica, "Helvetica Neue", Arial, sans-serif;font-size:13px;}.chromeless-wide{background-color:#fff;}a{color:#507ea4;outline:0;}a:hover,
a:active{color:#839b5c;text-decoration:none;}ul li{list-style-type:disc;margin-left:15px;}fieldset{margin:0;}#page-title{margin-bottom:10px;font-size:18px;font-weight:normal;}h2{font-weight:bold;}h3{text-shadow:#fff 0 1px 0;margin-bottom:20px;}.ready{font-weight:bold;color:#93b06b;}.note{clear:both;padding:10px 0 10px 0;}.hint{margin-top:3px;color:#a3a3a2;font-size:95%;font-style:Italic;}.input-hint{color:#a9a9a9;}.action-buttons{margin:20px 0 15px;}.actions-bar{margin:25px 0 0;}#container.show-actions-bar-top .actions-bar-top{display:block;}#container.show-actions-bar-bottom .actions-bar-bottom{display:block;}#container{position:relative;margin:45px auto 30px;padding:30px 30px 25px;border:1px solid #c0c6c9;background-color:#fff;border-radius:5px;-moz-border-radius:5px;}.chromeless #container{width:550px;}.sign-in #container{width:320px;}.chromeless-wide #container{min-width:360px;width:auto;margin:20px;padding:0;border:0;background-color:transparent;}#header{background:transparent #fff;}#header .comment_signin_title{margin-left:20px;}#brand{width:250px;height:38px;margin:0 0 20px;font-size:26px;background:#fff url(../images/chromeless/mt_logo.png) center no-repeat;}#brand span{display:none;}#nav{position:absolute;top:30px;right:20px;}#nav .step{float:left;background:url('../images/chromeless/nav_off.png');height:15px;width:14px;}#nav .step_active{float:left;width:14px;height:15px;background:url('../images/chromeless/nav_on.png');}#sign-in #page-title{display:none;}#sign-in .text{font-size:22px;}#sign-in .has-auth-icon input{padding-left:22px;background-repeat:no-repeat;background-position:3px center;}#forget-password{float:right;margin:0 0 3px;}#sign-up{clear:both;margin:20px 0 0;text-align:right;}.auth-option-info{margin-top:20px;font-size:90%;}#reset-password #container,
#change-password #container{width:320px;}.upgrade .upgrade-process{position:relative;overflow:auto;margin:10px 0;border:1px solid #c0c6c9;padding:10px;background-color:#fbfbfb;height:200px;border-radius:3px;-moz-border-radius:3px;}.upgrade #progressbar{margin:25px 0 0;}ul#profile-data li{margin-left:0;padding-left:0;list-style:none;}#profile_userpic-field .field-content label{display:block;margin-top:5px;}#userpic-preview{margin-bottom:10px;}.mt-profile-edit form{margin-bottom:.75em;}.custom-field-radio-list{margin-bottom:.25em;}.custom-field-radio-list li{list-style:none;margin-left:0;}.mt-config-file-path{overflow:auto;overflow-x:auto;overflow-y:hidden;height:2.75em;font-weight:bold;}#packages-list dt{margin-bottom:5px;}#packages-list dd{margin-bottom:15px;color:#7B7C7D;}.module-name{font-weight:bold;}.module-name a{color:black;text-decoration:none;}.module-name a:hover{text-decoration:underline;}.module-description{margin-bottom:5px;}#db_hint{margin-top:-10px;margin-bottom:10px;}#db_hint p{margin-bottom:3px;}#config_settings{margin-bottom:10px;}.progressbar{height:25px;border:1px solid #c0c6c9;background:#fff;border-radius:3px;-moz-border-radius:3px;}.progressbar.indeterminate{background:#c0c6c9 url(../images/progress-bar-indeterminate.gif) repeat;}.ui-progressbar .ui-progressbar-value{height:100%;background-color:#dcdddd;background:-webkit-gradient(linear, left top, left bottom, from(#58bee3), to(#32789e));background:-moz-linear-gradient(top, #58bee3 0%, #32789e 100%);border-top-left-radius:3px;border-bottom-left-radius:3px;-moz-border-radius:3px 0 0 3px;}fieldset{margin-bottom:3em;}.field{overflow:hidden;padding:0;margin:0 0 15px;}.field-left-label .field-header{float:left;width:11em;margin-left:1em;padding:0.5em 0;text-align:right;}.field-left-label .field-content{margin-left:13.5em;padding:0.5em 0;}.field-top-label .field-header{margin-bottom:5px;}.field-top-label .field-header label{vertical-align:baseline;}.field-top-label .field-content{margin:3px;}.field-inline,
.field-inline .field-header,
.field-inline .field-content{display:inline;}.field-inline{margin-right:10px;}.field-content-text{padding-top:5px;}.field-no-header .field-header{display:none;}.field-no-header .field-content{margin-left:0;}.field .hint{margin:5px 0 0;font-size:90%;}.field-top-label .hint{width:100%;}.text{width:75%;padding:0.2em 0.25em;outline:0;border:1px solid #dcdddd;border-top-color:#adadad;border-left-color:#adadad;background-color:#fbfbfb;font-size:13px;vertical-align:middle;box-shadow:0 1px 0 #f3f3f3;-webkit-box-shadow:0 1px 0 #f3f3f3;-moz-box-shadow:0 1px 0 #f3f3f3;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-radius:3px;-moz-border-radius:3px;}.edit-screen .text{width:100%;}.text.short,
.text.password{width:180px;}.text.med{width:50%;}.text.full{width:100%;max-width:100%;}.text.num,
.text.days{width:4em;text-align:center;}.text.date{width:7.5em;}.text.time,
.text.min{width:5.5em;}.text.datetime{width:10em;}.text.path{width:12em;margin:0 0.2em;}.text.low{height:5em;overflow:auto;}.text.high{height:12em;overflow:auto;}.text.query{font-size:150%;}.text.title{font-size:200%;}.text.error{border-color:#c53d43;background-color:#f2b1b1;}.text:focus{background-color:#fff;outline:0;}.text.disabled{border-color:#dcdddd;background-color:#f3f3f3;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}.text.readonly{border-color:#dcdddd;background-color:#f3f3f3 ! important;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}select{height:1.9em;border:1px solid #c0c6c9;font-size:12px;box-shadow:0 1px 0 #f3f3f3;white-space:nowrap;-webkit-box-shadow:0 1px 0 #f3f3f3;-moz-box-shadow:0 1px 0 #f3f3f3;}.col select{width:100%;}select.error{border-color:#c53d43 ! important;}#notification-listing-table input[type="text"],
.batch-edit input[type="text"]{width:100%;}#notification-listing-table .url input[type="text"]{width:60%;}.button{cursor:pointer;overflow:visible;display:inline-block;outline:none;margin-right:5px;padding:3px 0.5em;border:1px solid #c0c6c9;line-height:1.2;background-color:#f3f3f3;background:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));background:-moz-linear-gradient(top, #f3f3f3 0%, #dcdddd 100%);color:#2b2b2b;font-size:12px;font-family:Helvetica, "Helvetica Neue", Arial, sans-serif;text-align:center;text-decoration:none;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-radius:3px;-moz-border-radius:3px;-webkit-box-shadow:0 1px 0 #f3f3f3;-moz-box-shadow:0 1px 0 #f3f3f3;box-shadow:0 1px 0 #f3f3f3;}.button:hover{border-color:#7b7c7d;color:#2b2b2b;background-color:#fafafa;background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9eaea));background:-moz-linear-gradient(top, #fafafa 0%, #e9eaea 100%);}.button:active{background-color:#dcdddd;background:-webkit-gradient(linear, left top, left bottom, from(#dcdddd), to(#f3f3f3));background:-moz-linear-gradient(top, #dcdddd 0%, #f3f3f3 100%);}.button.action{padding:0.25em 0.8em 0.2em;border-color:#7b7c7d;background-color:#adadad;background:-webkit-gradient(linear, left top, left bottom, from(#adadad), to(#7b7c7d));background:-moz-linear-gradient(top, #adadad 0%, #7b7c7d 100%);color:#fffffc;text-shadow:#383c3c 1px 1px 1px;font-size:14px;font-weight:bold;}.button.action:hover{border-color:#595857;background-color:#bababa;background:-webkit-gradient(linear, left top, left bottom, from(#bababa), to(#88898a));background:-moz-linear-gradient(top, #bababa 0%, #88898a 100%);}.button.action:active{background-color:#7d7c7d;background:-webkit-gradient(linear, left top, left bottom, from(#7d7c7d), to(#adadad));background:-moz-linear-gradient(top, #7d7c7d 0%, #adadad 100%);}.button.primary{border-color:#165e83;background-color:#2a83a2;background:-webkit-gradient(linear, left top, left bottom, from(#2a83a2), to(#165e83));background:-moz-linear-gradient(top, #2a83a2 0%, #165e83 100%);}.button.primary:hover{border-color:#274a78;background-color:#2f93b6;background:-webkit-gradient(linear, left top, left bottom, from(#2f93b6), to(#1a6e99));background:-moz-linear-gradient(top, #2f93b6 0%, #1a6e99 100%);}.button.primary:active{background-color:#165e83;background:-webkit-gradient(linear, left top, left bottom, from(#165e83), to(#2a83a2));background:-moz-linear-gradient(top, #165e83 0%, #2a83a2 100%);}.button.disabled,
.button.action.disabled,
.button.primary.disabled{border-color:#c0c6c9 ! important;cursor:default ! important;background:#f3f3f3 ! important;text-shadow:none ! important;-webkit-box-shadow:none ! important;-moz-box-shadow:none ! important;box-shadow:none ! important;}.mt-edit-field-button{margin-left:0.5em;}.inline-editor .button,
.inline-editor .ui-button{margin:0 0 0 5px;}.split .button{float:left;min-width:5.5em;height:22px;margin:0;padding:0 0.6em;line-height:22px;font-size:13px;font-weight:bold;-moz-border-radius:3px 0 0 3px;border-top-right-radius:0;border-bottom-right-radius:0;}.split .toggle-button{display:block;float:left;position:relative;width:20px;height:20px;margin:0;padding:0;line-height:20px;border-width:1px;border-style:solid;-moz-border-radius:0 3px 3px 0;border-radius:3px;border-top-left-radius:0;border-bottom-left-radius:0;}.split .detail{display:none;width:99%;font-size:90%;}.ui-helper-hidden-accessible{position:absolute;}#alignment .ui-button{width:50px;margin:0;}.listing{margin-bottom:50px;}#spam-log-listing{margin-bottom:0;}#filter-header,
.listing-table-block{position:relative;}#listing-table-overlay{z-index:400;width:100%;height:100%;background-color:#fbfbfb;border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;}.listing-table{width:100%;margin:0 auto;border:1px solid #c0c6c9;table-layout:fixed;background-color:#fff;border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;}.col{width:13%;padding:7px 8px;border:solid #fff;border-width:1px 0 0;text-align:left;vertical-align:top;word-wrap:break-word;}tbody tr:first-child .col{border:0;}.col.head{padding:0;border-color:#c0c6c9;border-width:0 0 1px 1px;line-height:1;background-color:#f3f3f3;background:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dcdddd));background:-moz-linear-gradient(top, #f3f3f3 0%, #dcdddd 100%);font-size:85%;font-weight:bold;text-shadow:rgb(248,251,248) 0 1px 0;vertical-align:middle;word-wrap:normal;}.col.num{width:10%;}.col.date{width:12%;}.col.id{width:4.5em;}.col.entry,
.col.target{width:25%;}.col.cb,
.col.si{width:2.6em;padding-left:0;padding-right:0;text-align:center;}.col.view{width:4em;}.col.output-file{width:40%;}.col.publishing-method{width:17%;}.col.primary{width:auto;min-width:15%;}thead .col.head.first-child{border-top-left-radius:5px;-moz-border-radius:5px 0 0 0;}thead .col.head.last-child{border-top-right-radius:5px;-moz-border-radius:0 5px 0 0;}.has-filter thead .col.head{border-radius:0;-moz-border-radius:0;}tfoot .col.head{border-width:1px 0 0 1px;}.col.head.first-child,
.col.head.first-visible-child{border-left:0;}.col.head a{display:block;position:relative;width:100%;color:#2b2b2b;text-decoration:none;}.col.head a:hover{background-color:#fafafa;background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9eaea));background:-moz-linear-gradient(top, #fafafa 0%, #e9eaea 100%);}.col.head.sorted,
.col.head.sorted a:hover{background-color:#dcdddd;background:-webkit-gradient(linear, left top, left bottom, from(#dcdddd), to(#f3f3f3));background:-moz-linear-gradient(top, #dcdddd 0%, #f3f3f3 100%);}.col-label{display:block;width:80%;margin-left:5px;padding:7px 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}.col.head a:hover .col-label{color:#2b2b2b;}.sorted .col-label{color:#2b2b2b;}.sm{position:absolute;top:50%;right:5px;width:7px;height:10px;margin-top:-5px;background:transparent center no-repeat;background-image:url(../images/arrow/arrow-sort-both.gif);}.sm.asc{background-image:url(../images/arrow/arrow-sort-top.gif);}.sm.desc{background-image:url(../images/arrow/arrow-sort-bottom.gif);}.col .description{margin:0.75em 0 0;font-size:90%;}.col .user-info{overflow:hidden;}.col .user-info-item{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}.col .content-text{overflow:hidden;}.col .icon{display:inline-block;min-width:15px;margin-right:3px;text-align:center;}.col .comment.status{float:left;margin-right:5px;}.col .picture{margin-bottom:0;}.col .userpic .icon{margin:0;}.col .item-ctrl .action-link{margin-right:5px;}.col .role-item{list-style-type:disc;list-style-position:inside;margin:0 0 0 1.2em;}.col .archive-path-item{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}.col .log-metadata pre{white-space:normal;}.list-actions{float:left;}.listing .actions-bar{min-height:22px;}.listing .button-actions,
.listing .plugin-actions{float:left;margin:8px 10px 8px 0;}.pagination,
.indicator{font-family:Arial, sans-serif;font-size:12px;}.pagination,
.actions-bar .indicator{float:right;height:22px;margin:8px 0;line-height:22px;}.actions-bar .indicator img{margin-bottom:0.2em;vertical-align:bottom;}.pagenav,
.current-rows{margin:0 0.25em;}.current-rows{font-weight:bold;}.legacy.listing-table{border-radius:5px;-moz-border-radius:5px;}.col.asset-thumbnail{width:6em;}.col.asset-thumbnail .thumbnail{margin:0 auto;}.asset-no-thumbnail .thumbnail{border:0;}.col.asset-type-video .thumbnail{background:transparent url(../images/asset/video-45.png) no-repeat;}.col.asset-type-file .thumbnail{background:transparent url(../images/asset/file-45.png) no-repeat;}.col.asset-type-audio .thumbnail{background:transparent url(../images/asset/audio-45.png) no-repeat;}.filter-block{border:solid #c0c6c9;border-width:1px 1px 0;background-color:#f3f3f3;border-top-right-radius:5px;border-top-left-radius:5px;-moz-border-radius:5px 5px 0 0;}.filter-header #allpass-filter{display:inline-block;margin-left:8px;color:#c53d43;font-size:87%;}.filter-header .current-filter{background-image:url(../images/filter-list.png);text-decoration:none;}.filter-header .current-filter:hover{border-bottom:0;}#filter-detail{border:solid #c0c6c9;border-width:1px 0 0;}.filteritem{position:relative;margin:0 10px;border:1px solid #adadad;border-top-color:#cfd0d0;border-left-color:#cfd0d0;background-color:#fff;}.filteritem .item-content{padding:10px;}.filteritem .item-ctrl{margin-left:10px;}#dialog_filter{padding:0 0 10px 10px;}#dialog_filter_content{max-height:420px;padding-top:0;overflow:auto;}#dialog_filter .filter-list-block{margin-top:15px;}#dialog_filter .filter-list-label{margin:0 0 5px;}#dialog_filter .filter{margin:0 10px 1px 0;padding:0 5px;}#dialog_filter .filter:hover{background-color:#e7e7eb;}#dialog_filter .filter.edit-mode{padding:0;}#dialog_filter .filter.edit-mode:hover{background-color:transparent;}#dialog_filter .apply-link,
#dialog_filter .item-ctrl,
#dialog_filter .indicator{height:23px;line-height:23px;}#dialog_filter .apply-link{display:block;text-decoration:none;}.filter-label .apply-link{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}#dialog_filter .item-ctrl{display:none;text-align:right;}#dialog_filter .filter:hover .item-ctrl{display:inline-block;}#dialog_filter .edit-mode .item-ctrl{display:inline-block;text-align:left;}#dialog_filter .item-ctrl a{margin-left:5px;}#dialog_filter .tool-link{margin:0 0 0 0.5em;vertical-align:top;}#dialog_filter .rename-link{color:#7b7c7d;}#dialog_filter .indicator{margin-left:5px;}.col .asset-preview{display:none;margin-top:10px;}#modal-search{margin-bottom:10px;}.listing.selector{position:relative;margin-bottom:30px;padding-bottom:25px;}.panel-header{position:relative;padding:10px 0;}.selected-items{min-height:30px;}#listing-footer{margin-top:30px;border:1px solid #c0c6c9;background-color:#f3f3f3;border-radius:5px;-moz-border-radius:5px;}.footer-link-item{display:inline-block;margin:0 15px 0 0;}.msg{position:relative;margin:10px 0;padding:0.5em 0.75em;line-height:1;border-radius:3px;-moz-border-radius:3px;}.msg.full{margin:0;border-radius:0;-moz-border-radius:0;}.msg-success{background-color:#cee4ae;}.msg-alert,
.msg-warning{background-color:#fef263;}.msg-error{background-color:#f6bfbc;}.msg-info{background-color:#e6eae3;}.msg-publishing{margin:15px 0 0;padding:0.8em 0 0.8em 25px;background:transparent url(../images/ani-rebuild.gif) left center no-repeat;}.msg-text{margin:0;}.close-link{position:absolute;top:50%;right:8px;margin-top:-8px;}.msg .detail{margin:10px 0 0;}p.zero-state{margin-bottom:0;}#is-generic-website{margin:0;padding:0.75em 0;border-bottom:1px solid #c8c2be;background-color:#F2F2B0;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;border-radius:0;}#is-generic-website p{margin:0 auto;padding:0 20px;font-size:95%;}#junk-message .junk-score{font-weight:bold;margin:0 0 0.5em;}.dialog-msg-error{display:block;}.validate-error{display:inline-block;line-height:1.3;margin-left:3px;padding:0.3em 0.5em;background-color:#2b2b2b;color:#f3f3f3;font-size:95%;font-weight:normal;opacity:0.8;border-bottom-left-radius:3px;border-bottom-right-radius:3px;-moz-border-radius:0 0 3px 3px;}.msg-balloon{margin:0;border-radius:3px;-moz-border-radius:3px;}.debug-panel{position:absolute;width:100%;border-top:1px solid #c8c2be;background-color:#f6bfbc;text-align:left;}.debug-panel h3{padding:5px;font-size:12px;margin:0;background-color:#ec6d71;color:#f8fbf8;text-shadow:none;}.debug-panel-inner{padding:5px;font-family:'Andale Mono', monospace;font-size:10px;max-height:200px;overflow:auto;}.debug-panel-inner li{margin:0;padding:0.2em 0.5em;white-space:pre;}.debug-panel-inner li:hover{background-color:#f2a0a1;}.hidden{display:none !important;}.visible{display:block;}.invisible{visibility:hidden;}.clickable{cursor:pointer;}.overflow-auto{overflow:auto;}.overflow-hidden{overflow:hidden;}.inline{display:inline;}.nowrap{white-space:nowrap;}.fl{float:left;}.fr{float:right;}.rall{border-radius:5px;-moz-border-radius:5px;}.rtop{border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius:5px 5px 0 0;}.rleft{border-top-left-radius:5px;border-top-left-radius:5px;-moz-border-radius:5px 0 5px 0;}.rright{border-top-right-radius:5px;border-top-right-radius:5px;-moz-border-radius:0 5px 0 5px;}.rbottom{border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius:0 0 5px 5px;}.odd{background-color:#f9f9f9;}.selected{background-color:#dcdddd;}.highlight{background-color:#f8f4e6;}.disabled{color:#c0c6c9 ! important;}.code{font-family:monospace;}