#idx #mainContents {
	padding-top: 0px;
}
#idx #lnavi li {
	float: left;
	width: 315px;
	margin-bottom: 20px;
}
#idx #lnavi li a {
	display: block;
	width: 200px;
	height: 55px;
	background: url(../common/images/ico_arrow02.gif) no-repeat 100% 45%;
	padding: 10px 0 0 70px;
}
#idx #lnavi #lnavi_staff {
	background: url(images/idx_ico_staff.gif) no-repeat 0 0;
}
#idx #lnavi #lnavi_price {
	background: url(images/idx_ico_price.gif) no-repeat 0 0;
}
#idx #lnavi #lnavi_qa {
	background: url(images/idx_ico_qa.gif) no-repeat 0 0;
}
#idx #lnavi #lnavi_access {
	background: url(images/idx_ico_access.gif) no-repeat 0 0;
}
#idx .store {
	display: table;
	margin: 0 auto;
}
#idx .store dl {
	display: table-cell;
	vertical-align: top;
	padding: 0 20px;
}
#idx .store dt {
	font-weight: bold;
	margin-bottom: 5px;
}
#idx .box {
	border: 1px solid #361819;
	padding: 20px 20px 10px;
	margin-top: 30px;
}
.streetview {
	position: relative;
	padding-bottom: 50%; // これが縦横比
	height: 0;
	overflow: hidden;
	margin-top: 20px;
}
.streetview iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

#staff #mainContents {
	padding-top: 0px;
}
#staff #main_visual {
	margin-bottom: 40px;
}
#staff #mainContents .mi {
	float: left;
	width: 160px;
	text-align: center;
	margin-bottom: 20px;
}
#staff #mainContents .mi h2 {
	font-size: 1.2em;
	font-weight: bold;
}
#staff #mainContents .mi ul {
	margin-top: 10px;
}
#staff #mainContents .mi li {
	margin-bottom: 5px;
}
#staff #mainContents .mi img {
	margin-bottom: 10px;
	width: 160px;
}
#staff #mainContents .data {
	float: right;
	width: 440px;
}
#staff #mainContents .data p {
	margin-bottom: 10px;
}
#staff #mainContents .illust {
	float: right;
	padding: 15px 0 15px 15px;
}
#staff #mainContents .box {
	background-repeat: no-repeat;
}
#staff #mainContents .box h1 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1em;
}
#staff #mainContents p + p {
	margin-top: 10px;
}
#staff #mainContents #oosensei .data {
	background: url(images/staff_illust01.gif) 100% 100% no-repeat;
	padding-right: 150px;
	box-sizing: border-box;
}
#staff #mainContents #hirochan .box {
	background-image: url(images/staff_illust03.png);
	background-position: 95% 50%;
	padding-right: 210px;
}
#staff #mainContents #masumi .box {
	background-image: url(images/staff_illust04.png);
	background-position: 5% 50%;
	padding-left: 210px;
}

.staff_item + .staff_item {
	margin-top: 80px;
}
.staff_item_header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.staff_item_illust {
	max-width: 150px;
}

.staff_item_name {
	margin-left: 20px;
	font-weight: bold;
	font-size: 1.6em;
}
.staff_item_shikaku {
	margin-left: 20px;
}

.staff_item_data {
	margin-top: 20px;
	padding-top: 30px;
	background: url(../../common/images/bg_dot_h.gif) repeat-x 0 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
.staff_item_pic {
	width: 160px;
}
.staff_item_pic img {
	width: 100%;
}
.staff_item_txt {
	width: calc(100% - 190px);
}
/* .staff_item_txt p:first-child{
	font-weight: bold;
} */
.staff_item_txt--picnone {
	width: 100%;
}

#price #mainContents .cont {
	float: left;
	width: 200px;
	padding-right: 15px;
}
#price #mainContents .cont.last {
	padding-right: 0;
}
#price #mainContents .cont img {
	margin-bottom: 5px;
}

#qa #mainContents .cont dt {
	background: url(images/qa_ico_q.gif) no-repeat left top;
	padding: 5px 0 10px 50px;
	font-size: 1.2em;
	margin-top: 10px;
	cursor: pointer;
}
#qa #mainContents .cont dd {
	margin: 0 0 20px 50px;
	display: none;
}

#access #gmapWrap {
	position: relative;
}
#access #gmap {
	position: absolute;
	left: 0;
	border: 1px solid #cccccc;
}
#access #mainContents .gmap {
	height: 300px;
	position: relative;
	margin-bottom: 20px;
}
#access #mainContents .gmap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#access #mainContents .cont + .cont {
	margin-top: 40px;
}
#access #mainContents .cont h1 {
	font-weight: bold;
	font-size: 1.8em;
	margin-bottom: 15px;
}
#access #mainContents .cont p {
	margin-bottom: 5px;
}

@media screen and (min-width: 641px) {
	#access .txt_ttl {
	}
	#access #gmap {
		top: 110px;
		width: 630px;
		height: 500px;
	}
	#access #gmap_info {
		padding-right: 20px;
	}
	#access #mainContents .cont dt {
		float: left;
		width: 6em;
	}
	#access #mainContents .cont dd {
		margin-left: 6em;
		margin-bottom: 5px;
	}
	#staff #mainContents .box {
		min-height: 300px;
	}
}

@media screen and (min-width: 0px) and (max-width: 640px) {
	.fb-like-box {
		text-align: center;
	}
	#idx .box {
		margin-bottom: 20px;
	}
	#idx .store dl {
		display: block;
		padding: 0px;
	}
	#access #gmapWrap {
		margin: 0 10px;
	}
	#access .txt_ttl {
	}
	#access #mainContents .cont dd {
		margin-bottom: 10px;
	}

	#staff #main_visual {
		visibility: visible;
		height: auto;
	}
	#staff #main_visual #main_pic {
		height: auto;
	}
	#staff #main_visual #main_pic img {
		width: 100%;
		height: auto;
	}
	#staff #mainContents .mi {
		width: 100%;
	}
	#staff #mainContents .illust {
		float: none;
		padding: 15px 0;
		width: 80px;
		display: block;
		margin: 0 auto;
	}
	#staff #mainContents #hirochan .box,
	#staff #mainContents #masumi .box {
		background-position: 50% 0;
		padding: 150px 0 0;
		background-size: auto 144px;
	}
	#staff #mainContents #hirochan h1,
	#staff #mainContents #masumi h1 {
		text-align: center;
	}

	.staff_item + .staff_item {
		margin-top: 30px;
		padding-top: 30px;
		background: url(../../common/images/bg_dot_h.gif) repeat-x 0 0;
	}
	.staff_item_header {
		display: block;
		text-align: center;
	}
	.staff_item_illust {
		max-width: 150px;
		margin-left: auto;
		margin-right: auto;
	}

	.staff_item_name {
		margin-left: 0px;
		margin-top: 20px;
	}
	.staff_item_shikaku {
		margin-left: 0px;
		margin-top: 10px;
	}

	.staff_item_data {
		display: block;
		background: none;
		padding-top: 0;
	}
	.staff_item_pic {
		text-align: center;
	}
	.staff_item_pic img {
		width: 80%;
		max-width: 160px;
		margin-top: 15px;
	}
	.staff_item_txt {
		width: calc(100% - 190px);
	}
	.staff_item_txt--picnone {
		width: 100%;
	}
	.staff_item_ {
	}
}

#english #mainContents .pic {
	float: left;
	padding: 0 15px 40px 0;
}
#english #mainContents h2 {
	clear: both;
	font-weight: bold;
	margin-bottom: 15px;
}
#english #mainContents dt {
	float: left;
	width: 9em;
	margin-bottom: 5px;
}
#english #mainContents dd {
	margin-left: 9em;
	margin-bottom: 5px;
}

#contact .cont {
	margin-top: 40px;
}
#contact .cont h1 {
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 1.5em;
}
#contact .cont + .cont {
}
#contact .yoyaku-info {
	margin-top: 30px;
}
#contact #denwa {
	margin-bottom: 40px;
}
#contact #denwa h1 {
	background: url(../common/images/ico_tel1.gif) no-repeat 0 0;
}
#contact #mail h1 {
	background: url(../common/images/ico_mail1.gif) no-repeat 0 0;
}
#contact #mail h1 a {
	font-size: 12px;
	font-weight: normal;
	margin-left: 10px;
}
#contact #mainContents .box1 {
	padding-left: 70px;
	padding-right: 70px;
}
#contact #mainContents .box1 p {
	text-align: center;
}
#contact #mainContents .box1 li {
	width: 230px;
}
#contact #mainContents .box1 li a {
	display: block;
	padding: 32px 0 30px 80px;
}
#contact #mainContents .kenkou {
	float: left;
}
#contact #mainContents .pet {
	float: right;
}
#contact #mainContents .kenkou a {
	background: url(images/contact_img01.gif) no-repeat 0 top;
}
#contact #mainContents .pet a {
	background: url(images/contact_img02.gif) no-repeat 0 top;
}
