<div class="yoyaku-info">
	<div class="box">
		<div class="item tel">
			<div class="in">
				<h3 class="mi">お電話でご予約はこちら</h3>
				<p><span class="icon-phone">042−746−1951</span></p>
				<p>9:00〜19:00 定休日：日曜・祭日</p>
			</div>
		</div>
		<div class="item net">
			<div class="in">
				<h3 class="mi">ネットでご予約はこちら</h3>
				<p><a href="/yoyaku/">ご相談予約 総合受付</a></p>
			</div>
		</div>
	</div>
</div>
