<div id="category_list" class="clearfix">
<h2>疾患別の漢方薬</h2>
<table>
<tr><$mt:setvar name="CNT" value="0"$>
<MTTopLevelCategories><$mt:setvar name="CNT" op="++"$><td><a href="<$mt:CategoryArchiveLink$>"><$mt:CategoryLabel$></a></td><mt:If name="CNT" op="%" value="2" eq="0"></tr><tr></mt:If></MTTopLevelCategories>  
<mt:If name="CNT" op="%" value="2" ne="0"></tr></mt:If>
</table>
</div>
<!--category_list-->

<div class="box1">
<p>ここに載っていない漢方も300種以上取り揃えておりますのでお探しの漢方や、漢方についてのご質問等あればお気軽に<a href="/info/contact.html">お問い合わせ</a>ください。</p>
</div>
<!--box1-->

