<section class="post">
<div class="post_hea">
<h1 class="ttl"><$mt:EntryTitle$></h1>
<p><span class="date"><$mt:EntryDate format="%x %X"$></span><mt:EntryCategories type="primary"><a href="<$MTCategoryArchiveLink$>" class="catelink"><mt:CategoryLabel /></a></mt:EntryCategories></p>
</div>
<!--post-->

<div class="entry">
<$mt:EntryBody$>
</div>
<!--post-->

<$mt:Include module="コメント"$>
</section>
<!--post-->


