<div id="category_list" class="clearfix">
<h2>category</h2>
<table>
<tr><$mt:setvar name="CNT" value="0"$>
<MTTopLevelCategories><$mt:setvar name="CNT" op="++"$><td><a href="<$mt:CategoryArchiveLink$>"><$mt:CategoryLabel$></a></td><mt:If name="CNT" op="%" value="2" eq="0"></tr><tr></mt:If></MTTopLevelCategories>
<mt:If name="CNT" op="%" value="2" ne="0"></tr></mt:If>
</table>
</div>
<!--category_list-->

<div class="kochira box1">
<p>健康に関するお問い合わせは、<a href="/yoyaku/">こちら</a>からご予約ください。</p>
</div>
<!--kochira-->
