body.yoyaku {
  #mainContents {
    padding-top: 0;
  }
  #main_visual {
    // #main_pic{height:303px;}
  }
  .read {
    font-size: 14px;
    p + p {
      margin-top: 0.5em;
    }
  }
  .box1 {
    margin: 1.5em 0;
    // font-size: 15px;
  }
  .note1 {
    text-align: center;
    // font-weight: bold;
  }
  .read2 {
    margin-bottom: 1.5em;
  }
  .step {
    font-weight: bold;
    font-size: 16px;
    padding: 15px 0 15px 55px;
    margin-bottom: 1.5em;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 50%;
      background-color: #30aa17;
      color: #fff;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin-top: -20px;
    }
  }
  .step2 {
    span {
      border-radius: 50%;
      background-color: #30aa17;
      color: #fff;
      width: 15px;
      height: 15px;
      text-align: center;
      line-height: 15px;
      display: inline-block;
      padding: 0.2em;
      margin-right: 0.1em;
    }
  }
  .required {
    position: relative;
    padding-left: 2em;
    &::after {
      content: "＊";
      font-size: 11px;
      line-height: 1;
      padding: 0.3em 0.5em;
      color: #ff0000;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  .hajimete-note {
    display: none;
    &.show {
      display: block;
    }
  }
  .pet,
  .no-pet {
    display: none;
  }
  .form-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #f2efef;
    padding-bottom: 1em;
    dt:first-child {
      margin-top: 0;
      + dd {
        margin-top: 0;
      }
    }
    dt,
    dd {
      margin-top: 1em;
      padding-top: 1em;
      border-top: 1px solid #f2efef;
    }
    dt {
      width: 12em;
    }
    dd {
      width: calc(100% - 13em);
      margin-top: 1em;
    }
    label {
      display: block;
      input {
        margin-right: 0.5em;
      }
    }
    input[type="date"],
    input[type="email"],
    input[type="text"],
    textarea {
      max-width: 100%;
      padding: 0.3em 0.5em;
      box-sizing: border-box;
    }
    textarea {
      width: 100%;
    }
    input[size="20"] {
      width: 20%;
    }
    input[size="50"] {
      width: 50%;
    }
    input[size="100"] {
      width: 100%;
    }
    div + div {
      margin-top: 0.5em;
    }
  }
  .check-list {
    display: flex;
    flex-wrap: wrap;
    label {
      // width: 48%;
      line-height: 2.2;
      margin-right: 1.5em;
      // &:nth-child(even){
      // 	margin-left: 0;
      // }
    }
  }
  .bero-list {
    margin-top: 2em;
    dd {
      margin-top: 1em;
      + dt {
        margin-top: 2em;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: -20px;
      li {
        border: 1px solid #361819;
        padding: 0.5em;
        width: calc(25% - 10px);
        margin-right: 10px;
        margin-top: 20px;
        text-align: center;
        box-sizing: border-box;
        div {
          width: 100%;
        }
      }
    }
    .berodesc {
      min-height: 4em;
    }
    .berocheck {
      margin-top: 0.5em;
      input {
        margin-right: 0.5em;
      }
    }
  }
  .entry {
    margin-top: 2em;
    section {
      margin-top: 3.5em;
    }
  }
  .box-type {
    dt {
    }
    dd {
      margin-top: 1em;
      margin-left: 55px;
      label {
        display: inline-block;
        margin-right: 1em;
        input {
          margin-right: 0.5em;
        }
      }
    }
    dd + dt {
      margin-top: 2em;
    }
  }
  .note2 {
    margin-top: 3em;
    .policy {
      margin-top: 1em;
      text-align: right;
    }
  }
  .btn {
    text-align: center;
    margin-top: 3em;
    input {
      cursor: pointer;
      display: block;
      width: 100%;
      border: none;
      font-size: 16px;
      padding: 1em 0;
      background-color: #30aa17;
      color: #fff;
      transition: 0.2s;
      &:hover {
        background-color: darken(#30aa17, 5%);
      }
    }
  }
  .thanks {
    h2 {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 1em;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  body.yoyaku {
    #main_visual {
      visibility: visible;
      height: auto;
      margin-bottom: 15px;
      #main_pic {
        padding-top: 58.29% !important;
        height: auto;
        img {
          width: 100%;
        }
      }
      #main_ttl {
        bottom: -1px;
        img {
          width: 91px;
        }
      }
    }
    .note1 {
      text-align: left;
    }
    .form-list {
      display: block;
      padding-bottom: 1em;
      dt:first-child {
        margin-top: 0;
        + dd {
          margin-top: 0;
        }
      }
      dt,
      dd {
        width: 100%;
      }
      dt {
      }
      dd {
        border: 0;
        margin-top: 0;
      }
      label {
        display: block;
        input {
          margin-right: 0.5em;
        }
      }
      input[type="date"],
      input[type="email"],
      input[type="text"],
      textarea {
        max-width: 100%;
        padding: 0.3em 0.5em;
        box-sizing: border-box;
      }
      textarea {
        width: 100%;
      }
      input[size="20"] {
        width: 20%;
      }
      input[size="50"] {
        width: 50%;
      }
      input[size="100"] {
        width: 100%;
      }
      div + div {
        margin-top: 0.5em;
      }
    }
    .bero-list {
      margin-top: 2em;
      dd {
        margin-top: 1em;
        + dt {
          margin-top: 2em;
        }
      }
      ul {
        display: flex;
        li {
          border: 1px solid #361819;
          padding: 0.5em;
          width: calc(50% - 10px);
          text-align: center;
          div {
            width: 100%;
          }
          &:nth-child(1) {
            margin-left: 0;
          }
        }
      }
      .berodesc {
        min-height: 4em;
      }
      .berocheck {
        margin-top: 0.5em;
        input {
          margin-right: 0.5em;
        }
      }
    }
    .entry {
      margin-top: 2em;
      section {
        margin-top: 3.5em;
      }
    }
    .box-type {
      dt {
      }
      dd {
        margin-top: 1em;
        margin-left: 55px;
        label {
          display: inline-block;
          margin-right: 1em;
          input {
            margin-right: 0.5em;
          }
        }
      }
      dd + dt {
        margin-top: 2em;
      }
    }
    .note2 {
      margin-top: 3em;
      .policy {
        margin-top: 1em;
        text-align: right;
      }
    }
    .btn {
      text-align: center;
      margin-top: 3em;
      input {
        appearance: none;
        cursor: pointer;
        display: block;
        width: 100%;
        border: none;
        font-size: 16px;
        padding: 1em 0;
        background-color: #30aa17;
        color: #fff;
        transition: 0.2s;
        &:hover {
          background-color: darken(#30aa17, 5%);
        }
      }
    }
  }
}
