.fbox{padding-bottom: 10px;}
.fbox .ft{float: left;}
.fbox .fd{float: right;}

.soudanformlist{margin-bottom: 30px;}
.soudanformlist h2{margin-bottom: 20px; font-weight: bold;}
.soudanformlist textarea{width: 99%; height: 90px;}
.soudanformlist input[type="checkbox"]{margin-right: 5px;}

#soudanform-kihon .fbox .ft{width: 100px;}
#soudanform-kihon .fbox .fd{width: 510px;}

#soudanform-shoujyou .fd{margin-bottom: 20px;}

#soudanform-taichou .fbox{padding-bottom: 20px;}
#soudanform-taichou .fbox .fbox{padding-bottom: 5px;}
#soudanform-taichou .fbox label{margin-right: 10px;}
#soudanform-taichou .fbox .ft{width: 100px;}
#soudanform-taichou .fbox .fd{width: 510px;}

#soudanform-bero .ft{padding-bottom: 10px;}
#soudanform-bero li{float: left; width: 120px; border: 1px solid #cccccc; margin-right: 10px; padding: 10px;}
#soudanform-bero li .berocheck{text-align:center}
#soudanform-bero li .berodesc{height: 4em;}
#soudanform-bero li .beropict{text-align:center; height: 120px;}

#soudanform-women .fbox .ft{width: 180px;}
#soudanform-women .fbox .fd{width: 430px; margin-bottom: 20px;}
#soudanform-women .fbox .fd li{margin-bottom: 5px;}
#soudanform-women .fbox label{margin-right: 10px;}

#form_english #soudanform-kihon .fbox .ft{width: 130px;}
#form_english #soudanform-kihon .fbox .fd{width: 490px;}

#soudanform-pet-mesu .fbox .ft{width: 120px;}
#soudanform-pet-mesu .fbox .fd{width: 490px; margin-bottom: 20px;}
