@charset"UTF-8";
*
{
	margin: 0px;
	padding: 0px;
}

body{
	color: #024402;
	background: #FFF5CF url(/07/img/bg.png) 0px 0px repeat-x;
	line-height:130%;
	font-size: 92%;
	font-family: helvetica,sans-serif;
	padding: 30px;
}

h2
{
	padding: 0px 0px 5px 0px;
}

input.title
{
	width: 100px;
}
input.url
{
	width: 500px;
}

div
{
	padding: 0px 0px 20px 0px;
}
