<section id="side_ranking" class="side">
	<h1 class="mi">症状ランキング</h1>
	<ul>
		<li id="rank1"><a href="/soudan/beauty/">き出物・肌荒れ</a></li>
		<li id="rank2"><a href="/soudan/pet/">ペット用漢方</a></li>
		<li id="rank3"><a href="/soudan/agenesis/">不妊症・産後の不調</a></li>
	</ul>
</section>
<section id="side_navi" class="side">
	<ul>
		<li><a href="/seminar/">漢方薬局体験セミナー</a></li>
		<li><a href="/php/soudan_form/soudan_form.php">2分でできる！ネット相談</a></li>
		<li><a href="/tel/">電話相談（無料）</a></li>
	</ul>
</section>
<section id="side_info" class="side">
	<dl>
		<dt>漢方のスギヤマ薬局 本店</dt>
		<dd class="mb15">〒 252-0001<br />座間市相模が丘5-10-37<br />TEL: 042-746-1951<br />OPEN: 9:00~19:00<br />定休日：木・日曜・祝日</dd>
		<dt>漢方のスギヤマ薬局 駅前店</dt>
		<dd>〒 252-0001<br />座間市相模が丘5-5-7 ブリリア小田急相模原103号<br />TEL: 042-705-5423<br />OPEN: 8：30~18：30<br />※木曜日は8：30~17：00<br />定休日：日曜日、祝日</dd>
	</dl>
</section>
<section id="side_bn" class="side">
	<ul>
		<li class="txtCenter">
			<a href="http://kanpo-taiken.com/experience/result/4/388/" target="_blank"><img src="/common/images/bn_kanpo_taiken.jpg" alt="漢方体験.com 漢方のスギヤマ薬局のレビュー" /></a><br />
			<p class="mt05">
				<a href="http://kanpo-taiken.com/experience/result/4/388/" target="_blank">↑スギヤマ薬局の漢方で<br />改善されたお客様のお声です</a>
			</p>
		</li>
	</ul>
</section>
