@charset "utf-8";
body {
}
#site-header{
	text-align: center;
}

#title{
	h1{
		@include font-size(14);
		span{
			@include font-size(30);
		}
	}
}

#contents{
	margin-left: 10px;
	margin-right: 10px;
	section{
		h2{
			@include font-size(22);
			margin-bottom: 1em;
		}
		.mi1{
			@include font-size(16);
		}
		.small{
			@include font-size(11);
		}
		.price{
			p{
				@include font-size(18);
				span{
					display: inline-block;
					@include font-size(12);
				}
			}
		}
		.contact{
			a{
				@include font-size(16);
			}
		}
	}
}
#site-footer{
	.logo{
		text-align: center;
		padding: 20px 0;
		img{
			width: 170px;
		}
	}
	.pagetop{
		width: 40px;
		height: 40px;
		img{
			width: 40px;
		}
	}
}

#ft-nav{
	ul{
		a{
			padding: 20px 0;
		}
	}
	li+li{
		//margin-top: 20px;
	}
}
