#tokushou #mainContents table{border-top: 1px dotted #a29596;}
#tokushou #mainContents th,
#tokushou #mainContents td{padding: 12px; border-bottom: 1px dotted #a29596;}
#tokushou #mainContents th{white-space: nowrap;}
#tokushou #mainContents tr:nth-child(odd) td,
#tokushou #mainContents tr:nth-child(odd) th {background-color: #f7f6f6;}
#tokushou #mainContents tr:nth-child(even) td,
#tokushou #mainContents tr:nth-child(even) th {background-color: #ffffff;}
#tokushou #mainContents table+p{margin-top: 20px; position: relative; padding-left: 1.2em;}
#tokushou #mainContents table+p::after{position: absolute; top: 0; left: 0; content: '※';}

#policy #mainContents h2{margin: 15px 0; font-weight: bold;}
#policy #mainContents li{font-weight: bold; margin-bottom: 10px;}
#policy #mainContents li p,
#policy #mainContents li li{font-weight: normal;}
