#idx #mainContents{padding-top: 0px;}
#idx #mainContents .sec{margin-bottom: 30px;}
#idx #mainContents .sec p{margin-bottom: 0.5em;}
#idx #mainContents h2{font-weight: bold; margin-bottom: 10px;}
#idx #mainContents dt{margin: 0 1em 0.5em 0; float: left; width: 15em; background: url(images/bg_dot.gif) repeat-x 0 50%;}
#idx #mainContents dd{margin: 0 0 0.5em 15em;}
#idx #mainContents dt span{background: #ffffff; padding-right: 1em;}

