#idx #mainContents{padding-top: 0px;}
#idx .kenkou{background: url(images/ico_kenkou.gif) no-repeat 10px 50%; background-size: 77px auto; padding-left: 100px;}
#idx .kanpou{background: url(images/ico_kanpou.gif) no-repeat 10px 50%; background-size: 77px auto; padding-left: 100px;}
#idx .bd{border-bottom: 1px solid #F2EFEF; margin-bottom: 10px; padding-bottom: 10px;}
#idx .read{margin-bottom: 20px; font-size: 14px; text-align: center;}
#idx .cont1.fleft{width: 320px;}
#idx .cont1.fright{width: 280px;}
#idx .cont1{padding-bottom: 30px;}
#idx .cont1 h1{font-weight: bold; font-size: 1.2em; margin-bottom: 5px;}
#idx .cont2 {margin-bottom: 50px;}
#idx .cont2 h1{font-weight: bold; font-size: 1.2em; margin-bottom: 15px;}
#idx .cont2 th,
#idx .cont2 td{padding: 0 5px 5px 0; vertical-align: top;}
#idx .cont2 .close{color: #7b6566; font-size: 0.9em;}
#idx .cont2 h2{font-weight: bold; font-size: 0.9em; margin-bottom: 15px;}
#idx .pic{float: left; width: 182px; padding: 0 15px 15px 0;}
#idx .pic img{margin: 5px 0;}
#idx .data{}
#idx .data p{margin-bottom: 10px;}
#idx .data .illust{float: right; padding: 10px 20px;}

.book-content{
	margin-top: 2em;
}
.book-content h2{
	font-weight: bold;
	font-size: 1.3em;
	margin: 1em 0;
	text-align: center;
}
.book-wrap{
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	flex-wrap: wrap;
	padding: 10px 0;
}
.book-wrap+.book-wrap{
	margin-top: 2em;
	padding-top: 2em;
	border-top: 1px solid #f2efef;
}
.book-wrap .img{
	width: 37%;
	text-align: center;
}
.book-wrap .btn{
	/* padding-top: 1em; */
}
.book-wrap .img img.book{
	width: 210px;
}
.book-wrap .txt{
	width: 60%;
}
.book-wrap .txt h3{
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 1em;
}
.book-wrap .txt p{
	font-size: 1.2em;
	margin-bottom: 1em;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
	#mainContents .book-wrap div.img{
		width: 100% !important;
	}
	#mainContents .book-wrap div.txt{
		margin-top:2em;
		width: 100% !important;
	}
}
